{% load i18n %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('invoiceFormHandler', () => ({
      open: false,
      currency: false,
      startDate: "{% firstof form.instance.start_date|date:'Y-m-d' form.start_date.value  '' %}",
      endDate: "{% firstof form.instance.end_date|date:'Y-m-d' form.end_date.value '' %}",
      amount: "{{ form.amount.value|default:'null' }}",
      usdAmount: "{{ form.amount_usd.value|default:'null' }}",
      isServiceDelivery: "{{ is_service_delivery|yesno:'true,false' }}" == 'true',
      isReadOnly: "{{ is_read_only|yesno:'true,false'}}" == "true",
      invoiceId: "{{ form.instance.payment_invoice_id|default:'' }}",
      showDownloadButton: false,

      init() {
        if (this.isServiceDelivery) {
            if (this.isReadOnly) {
                this.showDownloadButton = true;
            } else {
                this.fetchInvoiceLineItems();
            }
        }
      },

      convert(replace = false) {
        // date and amount should be present before making http call
        if (!this.$refs.amount?.value || !this.$refs.date?.value) return;

        htmx.ajax('POST', '{% url "opportunity:exchange_rate" org_slug=request.org.slug opp_id=opportunity.opportunity_id %}', {
          target: '#converted-amount-wrapper',
          swap: 'innerHTML',
          values: {
            amount: this.$refs.amount.value,
            date: this.$refs.date.value,
            usd_currency: this.currency,
            should_replace_amount: replace
          }
        }).then(() => {
          if (replace) {
            const newAmount = document.querySelector('#exchange-rate-display')?.dataset?.convertedAmount;
            if (newAmount) {
              this.$refs.amount.value = newAmount;
            }
          }
        });
      },

      fetchInvoiceLineItems() {
        if (!this.startDate || !this.endDate) return;

        fetch('{% url "opportunity:invoice_items" org_slug=request.org.slug opp_id=opportunity.opportunity_id %}', {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            start_date: this.startDate,
            end_date: this.endDate
          })
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('invoice-line-items-wrapper').innerHTML = data.line_items_table_html;
          this.amount = data.total_amount;
          this.usdAmount = data.total_usd_amount;
          this.showDownloadButton = true;
        }).catch(error => {
          console.error('Error fetching invoice items:', error);
          this.showDownloadButton = false;
        });
      },

      downloadLineItemsUrl() {
        if(!this.startDate || !this.endDate) {
          if (!this.isReadOnly) {
            alert('Please ensure start and end dates are selected.');
          }
          return;
        }

        const url = new URL('{% url "opportunity:download_invoice_line_items" org_slug=request.org.slug opp_id=opportunity.opportunity_id %}', window.location.origin);
        url.searchParams.set('start_date', this.startDate);
        url.searchParams.set('end_date', this.endDate);

        if (this.isReadOnly && this.invoiceId) {
          url.searchParams.set('invoice_id', this.invoiceId);
        }

        return url.toString();
      },

      submitForApproval() {
        htmx.ajax('POST', '{% url "opportunity:submit_invoice" org_slug=request.org.slug opp_id=opportunity.opportunity_id %}', {
          values: {
              invoice_id: this.invoiceId,
              notes: this.$refs.notes ? this.$refs.notes.value : ""
          },
        });
      }

    }));
  });
</script>
