@import 'tailwindcss';
@tailwind utilities;

@source "./safelist.txt";

[x-cloak] {
  display: none !important;
}
@theme {
  --font-sans: 'Work Sans', 'sans-serif';
  --breakpoint-sm: 5rem;
  --color-brand-deep-purple: #16006d;
  --color-brand-indigo: #3843d0;
  --color-brand-cornflower-blue: #5d70d2;
  --color-brand-sky: #8ea1ff;
  --color-brand-sunset: #e44434;
  --color-brand-mango: #fc5f36;
  --color-brand-marigold: #feaf31;
  --color-brand-blue-light: #94a3b8;
  --color-brand-sunset-light: #fc5f3633;
  --color-brand-border-light: #e2e8f0;
}

/* ------ Typography------ */

.card_title {
  @apply text-brand-deep-purple text-lg font-medium;
}

.card_description {
  @apply text-sm font-normal text-gray-600;
}
.title {
  @apply font-medium text-gray-900;
}

.hint {
  @apply text-xs text-gray-400;
}

/*-- status ----------------------------------*/
.status-active {
  @apply h-2 w-4 rounded-full bg-green-600;
}

.status-inactive {
  @apply h-2 w-4 rounded-full bg-gray-200;
}

.status-error {
  @apply bg-brand-sunset h-2 w-4 rounded-full;
}

.status-warning {
  @apply bg-brand-marigold h-2 w-4 rounded-full;
}

/*-- badges --------------------------------------*/
.badge {
  @apply inline-block text-nowrap rounded-full text-xs;
}

/* Size Variants */
.badge-sm {
  @apply px-2 py-0.5;
}

.badge-md {
  @apply px-4 py-1;
}

/*-- buttons -------------------------------------*/

.button {
  @apply relative inline-block min-w-24 cursor-pointer space-x-2 text-nowrap rounded-lg text-sm font-medium transition-all duration-300;
}

.button:hover::after {
  content: '';
  @apply bg-brand-deep-purple/10 absolute left-0 top-0 z-0 h-full w-full rounded-lg;
}

.button-outline-rounded {
  @apply text-brand-deep-purple rounded-full border border-gray-200;
}

.button-outline-rounded:not(:disabled):hover::after {
  content: '';
  @apply bg-brand-deep-purple/10 absolute left-0 top-0 z-0 h-full w-full rounded-full;
}

@layer components {
  .button-icon {
    @apply text-brand-deep-purple inline-flex size-8 cursor-pointer items-center justify-center rounded-full p-2;
  }

  .button-icon:hover {
    @apply bg-slate-100;
  }

  .button-icon:focus {
    @apply bg-brand-mango/10;
  }
}

@layer components {
  .button-icon-activatable {
    @apply text-brand-deep-purple inline-flex size-8 cursor-pointer items-center justify-center rounded-full p-2;
  }

  .button-icon-activatable:focus {
    @apply bg-brand-mango/10;
  }
}

@layer components {
  .button-text {
    @apply text-brand-deep-purple flex cursor-pointer items-center gap-2 rounded-full px-4 py-1;
  }

  .button-text i {
    @apply text-xs text-gray-400;
  }

  .button-text:hover {
    @apply bg-gray-50;
  }
}

/* Size Variants */

.button-sm {
  @apply px-4 py-1;
}

.button-md {
  @apply px-4 py-3;
}

/* Dark Theme */
.primary-dark {
  @apply bg-brand-indigo text-white;
}

.positive-dark {
  @apply bg-green-600 text-white;
}

.negative-dark {
  @apply bg-red-600 text-white;
}

.warning-dark {
  @apply bg-brand-marigold text-black;
}

/* Light Theme */
.primary-light {
  @apply bg-indigo-100 text-indigo-600;
}

.positive-light {
  @apply bg-green-100 text-green-600;
}

.negative-light {
  @apply bg-red-100 text-red-600;
}

.warning-light {
  @apply text-brand-marigold bg-brand-marigold/20;
}

.neutral {
  @apply bg-slate-100 text-slate-300;
}

.outline-style {
  @apply text-brand-deep-purple rounded-lg border border-gray-200;
}

/*-- chips ---------------------------------------*/
.chip {
  @apply inline-block cursor-pointer text-nowrap rounded-full text-sm font-medium transition-all duration-300;
}

.chip-md {
  @apply px-4 py-1;
}

/*---- table class -----------*/

@layer components {
  .base-table {
    @apply w-full table-auto border-collapse text-gray-700;
  }

  .base-table thead {
    @apply text-brand-deep-purple sticky top-0 z-10 text-sm;
  }

  .base-table thead th {
    @apply relative h-10 whitespace-nowrap bg-gray-200 p-4 text-left font-medium;
  }

  .base-table thead::after {
    content: ' ';
    @apply absolute -bottom-1.5 left-0 h-1.5 w-full bg-stone-100;
  }

  .base-table thead th:first-child {
    @apply rounded-l-lg;
  }
  .base-table thead th:last-child {
    @apply rounded-r-lg;
  }

  .base-table tbody {
    @apply relative pt-4 text-sm;
  }

  .base-table tbody::before {
    content: '';
    @apply absolute left-0 top-0 -z-20 h-full w-full rounded-lg bg-white shadow-lg;
  }

  .base-table tbody tr {
    @apply relative;
  }

  .base-table tbody tr::after {
    content: '';
    @apply -translate-1/2 absolute left-1/2 top-1/2 -z-10 h-[90%] w-[99%] -translate-y-1/2 rounded-lg bg-gray-100 opacity-0;
  }

  .base-table tbody tr:first-child::after {
    content: '';
    @apply -translate-1/2 absolute left-1/2 top-[53.8%] -z-10 h-[80%] w-[99%] -translate-y-1/2 rounded-lg bg-gray-100 opacity-0;
  }

  .base-table tbody tr:hover::after {
    @apply opacity-100;
  }

  /* .base-table tbody tr:hover{
        @apply bg-gray-100 rounded-lg;
    }  */

  .base-table tbody td {
    @apply whitespace-nowrap border-b-[1px] border-gray-100 p-4 text-left;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
