{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ request.org }} - {{ opportunity.name }}{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-5">Edit Opportunity</h1>
    <h4>Adding Visits for Existing Users</h4>
    <form method="post"
          x-data="{
            max_visits: 0,
            end_date: '',
            selected_users: [],
            isSelected (id) { return this.selected_users.find(el => el === id)},
            calculated_budget() { return this.selected_users.length * this.max_visits * '{{ budget_per_visit }}' }
          }"
    >
      {{ formset.management_form }}
      {% csrf_token %}
      <table class="table table-custom border">
        <thead class="table-secondary">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Max Visits</th>
          <th>Used Visits</th>
          <th>Extend End date</th>
        </tr>
        </thead>
        <tbody>
        {% for form in formset %}
          <tr>
            <td>
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <input type="checkbox" name="{{ form.is_selected.html_name }}"
                     id="{{ form.is_selected.auto_id }}" value="{{ form.instance.id }}"
                     x-model="selected_users"/>
            </td>
            <td>{{ form.instance.opportunity_access.user.username }}</td>
            <td>
              <input type="number" name="{{ form.max_payments.html_name }}" id="{{ form.max_payments.auto_id }}"
                     class="numberinput form-control {% if form.max_payments.errors %} is-invalid {% endif %}"
                     :value="isSelected('{{ form.instance.id }}') && max_visits ? max_visits : '{{ form.max_payments.value }}'"
              />
              {% for error in form.max_payments.errors %}
                <div class="invalid-feedback">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            </td>
            <td>{{ form.instance.opportunity_access.visit_count }}</td>
            <td>
              <input type="date" name="{{ form.end_date.html_name }}" id="{{ form.end_date.auto_id }}"
                     class="dateinput form-control{% if form.end_date.errors %} is-invalid{% endif %}"
                     :value="isSelected('{{ form.instance.id }}') && end_date ? end_date : '{{ form.end_date.value|date:"Y-m-d" }}'"
              />
              {{ form.end_date|as_crispy_errors }}
            </td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
      <div class="row mb-2">
        <div class="col-md-4">
          <label for="id_max_visits_per_user" class="form-label requiredField">
            Max visits per user
          </label>
          <input type="number" class="numberinput form-control" id="id_max_visits_per_user" x-model="max_visits"/>
        </div>
        <div class="col-md-4">
          <label for="id_end_date" class="form-label requiredField">
            Extend Opportunity End date
          </label>
          <input type="date" class="form-control dateinput" id="id_end_date" x-model="end_date"/>
        </div>
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-modal-add-visits">
        Save
      </button>

      <!-- Modal -->
      <div class="modal fade" id="confirm-modal-add-visits" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Please confirm to add <b x-text="calculated_budget()"></b> budget to this Opportunity.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

{% endblock content %}
