{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block title %}{{ request.org }} - Payment Units {% endblock %}

{% block content %}
  {% include "steps.html" with step='step2' org_slug=request.org.slug pk=opportunity.pk %}
  <div class="container">
    <div hx-get="{% url 'opportunity:payment_unit_table' org_slug=request.org.slug pk=opportunity.pk %}{% querystring %}"
         hx-trigger="load" hx-swap="outerHTML">
      {% include "tables/table_placeholder.html" with num_cols=4 %}
    </div>
    <div class="mt-3">
      <button class="btn btn-secondary btn-sm" type="button" hx-get="{% url 'opportunity:add_payment_unit' org_slug=request.org.slug pk=opportunity.id %}?partial=True" hx-target="#paymentunitform" hx-swap="beforeend  scroll:bottom">
        <span class="bi bi-plus"></span>
        Add Payment Unit
      </button>
      <a class="btn btn-primary btn-sm" type="button" href="{% url 'opportunity:finalize' org_slug=request.org.slug pk=opportunity.id %}">
        Setup Budget
      </a>
    </div>
    <div id="paymentunitform"></div>
  </div>
{% endblock content %}
