{% extends "opportunity/worker_list_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block tab_options %}
  <div x-cloak x-data="{showVisitImportModal: false, showVisitExportModal: false, showFilterModal: false}">
    <button type="button" @click="showFilterModal = true" class="relative button-icon">
      <i class="fa-solid fa-sliders text-brand-deep-purple"></i>
      {% if filters_applied_count %}
      <span class="absolute flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-brand-marigold border-2 border-white rounded-full transform translate-x-1/2 -translate-y-1/2">
        {{ filters_applied_count }}
      </span>
      {% endif %}
    </button>
    <button type="button" @click="showVisitImportModal = true" class="button-icon"
            {% if request.org_membership.is_viewer %} disabled {% endif %}>
      <i class="fa-solid fa-upload text-brand-deep-purple"></i>
    </button>
    <button type="button" class="button-icon" @click="showVisitExportModal = true"
            {% if request.org_membership.is_viewer %} disabled {% endif %}>
      <i class="fa-solid fa-download text-brand-deep-purple"></i>
    </button>
    {% block modals %}
        <div x-show="showFilterModal" class="modal-backdrop">
          <div class="modal">
            <div class="header text-lg font-semibold text-brand-deep-purple">
              <h1>Filters</h1>
              <button @click="showFilterModal = false">
                <i class="fa-solid fa-xmark text-xl"></i>
              </button>
            </div>
            <form
              id="filterForm"
              hx-get="."
              hx-push-url="true"
              hx-trigger="submit"
              hx-indicator="#loadingIndicator"
              class="content"
            >
              <div class="modal-body">
                {% crispy filter_form %}
              </div>
              <div class="footer">
                <button type="button" @click="showFilterModal = false" class="button button-md outline-style">Close</button>
                <button
                  form="filterForm" type="submit" @click="showFilterModal = false" class="button button-md primary-dark">
                  Apply
                </button>
              </div>
            </form>
          </div>
        </div>

        {% url 'opportunity:visit_import' request.org.slug opportunity.pk as visit_import_url %}
        {% include "components/worker_page/import_modal.html" with modal_name="showVisitImportModal" modal_title=export_user_visit_title import_url=import_export_delivery_urls.import_url input_name="visits" input_help_text=import_visit_helper_text %}

        <!--User visit export modal-->
        <div x-show="showVisitExportModal" class="modal-backdrop">
            <div x-clock x-data="{ selectedForm: 'nm_review' }"  class="modal">
                <div class="header text-lg font-semibold text-brand-deep-purple">
                  <h1>Export</h1>
                  <button @click="showVisitExportModal = false">
                    <i class="fa-solid fa-xmark text-xl"></i>
                  </button>
                </div>

                <form class="content" method="post"
                      :action="selectedForm === 'nm_review' ? '{{ import_export_delivery_urls.export_url_for_nm }}' : '{{ import_export_delivery_urls.export_url_for_pm }}'">
                  {% csrf_token %}
                  <div class="modal-body">

                    <div class="mb-4">
                      <label class="inline-flex items-center">
                        <input type="radio" name="form_type" value="nm_review" x-model="selectedForm"
                               class="text-primary">
                        <span class="ml-2">User Visits Sheet</span>
                      </label>
                      {% if opportunity.managed %}
                        <label class="inline-flex items-center mr-4">
                          <input type="radio" name="form_type" value="pm_review" x-model="selectedForm"
                                 class="text-primary" checked>
                          <span class="ml-2">PM Review Sheet</span>
                        </label>
                      {% endif %}
                    </div>

                    <!-- VisitExportForm -->
                    <template x-if="selectedForm === 'nm_review'">
                      <div>{% crispy visit_export_form %}</div>
                    </template>

                    <!-- ReviewVisitExportForm -->
                    <template x-if="selectedForm === 'pm_review'">
                      <div>{% crispy review_visit_export_form %} </div>
                    </template>

                  </div>

                  <div class="footer">
                    <button type="button" @click="showVisitExportModal = false" class="button button-md outline-style">Close</button>
                    <button type="submit" class="button button-md primary-dark">Export</button>
                  </div>
                </form>
            </div>
          </div>
    {% endblock %}
  </div>
{% endblock %}
