{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block content %}
{% include 'components/breadcrumbs.html' with path=path %}
<div class="card_bg">
  <div class="card_title mb-4">
    {% if is_service_delivery %}
      {% translate "Review Service Delivery Invoice" %}
    {% else %}
      {% translate "Review Custom Invoice" %}
    {% endif %}
    <span class="badge badge-sm bg-gray-200 text-gray-700 ml-2">{% translate "Read Only" %}</span>
    {% if form.instance.payment %}
      <span class="badge badge-sm bg-gray-200 text-gray-700 ml-2">{% translate "Paid" %}</span>
    {% endif %}
  </div>
  <div x-data="invoiceFormHandler()">
    {% crispy form %}
    <div class="mt-6 flex justify-start gap-4">
      <a href="{% url 'opportunity:invoice_list' org_slug=request.org.slug opp_id=opportunity.opportunity_id %}"
         class="button button-md outline-style">
        {% translate "Back to Invoices" %}
      </a>
      {% if request.is_opportunity_pm %}
        {% if invoice_status == 'submitted' %}
          <button hx-post="{% url 'opportunity:invoice_approve' org_slug=request.org.slug opp_id=opportunity.opportunity_id %}"
                  hx-vals='{"pk": "{{ form.instance.payment_invoice_id }}"}'
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="button button-md primary-dark justify-center !inline-flex"
                  {% if form.instance.payment %}disabled{% endif %}>
            {% translate "Pay" %}
          </button>
        {% endif %}
      {% elif invoice_status == 'pending' %}
        <a
          @click="submitForApproval()"
          class="button button-md primary-dark"
        >
          {% translate "Submit for Approval" %}
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% if show_payment_invoice_invoice_ticket_link_form %}
<br/>
<div class="card_bg">
  <form
    method="POST"
    action="{% url 'opportunity:update_invoice_invoice_ticket_link' org_slug=request.org.slug opp_id=opportunity.opportunity_id invoice_id=object.payment_invoice_id %}"
  >
    {% csrf_token %}
    <div class="mb-4">
      <div class="mb-2">
        <label for="id_invoice_ticket_link" class="text-gray-700 text-sm font-bold">
          Invoice Ticket
        </label>
        {% if object.invoice_ticket_link %}
          <a class="fa fa-external-link" target="_blank" href="{{ object.invoice_ticket_link }}"></a>
        {% endif %}
      </div>
      <input type="url" name="invoice_ticket_link"
             class="border py-2 w-full border-gray-300 bg-white rounded-lg block focus:outline-none text-gray-700 px-4"
             id="id_invoice_ticket_link"
             value="{{ object.invoice_ticket_link }}"
      >
    </div>
    <button class="button button-md primary-dark">
      {% translate "Update" %}
    </button>
  </form>
</div>
{% endif %}

{% include "opportunity/partials/invoice_form_handler.html" with is_read_only=True %}
{% endblock content %}
