{% load static i18n %}

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'bundles/css/tailwind.css' %}">
    <style>
      .full-width-table td {
        @apply border-1 p-12 text-left w-50;
      }
    </style>
  </head>
  <body class="font-sans">
    <div class="container">
      <div class="header">
        <div class="org w-100 text-center">{% trans "Organization" %}: {{ request.opportunity.organization.name|default:"" }}</div>
        <div class="opportunity w-100 text-center">{% trans "Opportunity" %}: {{ request.opportunity.name }}</div>
      </div>
      <div class="table-container mt-20">
        <table class="full-width-table w-100 border-collapse mb-20">
          <tr><td>{% trans "Invoice Number" %}</td><td>{{ invoice.invoice_number }}</td></tr>
          <tr><td>{% trans "Amount" %}</td><td>{{ invoice.amount|default:"" }}</td></tr>
          <tr><td>{% trans "Amount (USD)" %}</td><td>{{ invoice.amount_usd|default:"" }}</td></tr>
          <tr><td>{% trans "Rate" %}</td><td>{{ invoice.exchange_rate.rate }}</td></tr>
          <tr><td>{% trans "Date" %}</td><td>{{ invoice.date|default:"" }}</td></tr>
          <tr><td>{% trans "Invoice Status" %}</td><td>{{ invoice.get_status_display }}</td></tr>
          <tr>
            <td>{% trans "Paid" %}</td>
            <td>
            {% if invoice.is_paid %}
              {% trans "Paid" %}
            {% else %}
              {% trans "Pending" %}
            {% endif %}
            </td>
          </tr>
          {% if invoice.is_paid %}
            <tr><td>{% trans "Payment Date" %}</td><td>{{ invoice.payment.date_paid }}</td></tr>
          {% endif %}
          <tr><td>{% trans "Invoice Type" %}</td><td>{{ invoice.invoice_type.label }}</td></tr>
        </table>
      </div>
    </div>
  </body>
</html>
