{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include 'components/breadcrumbs.html' with path=path %}
<div class="card_bg">
  <div class="card_title mb-4">
    {% translate "Create New Invoice" %}
  </div>
  <div x-data="invoiceFormHandler()">
    {% include "components/partial_form.html" %}
  </div>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('invoiceFormHandler', () => ({
      open: false,
      currency: false,
      startDate: "{{  form.start_date.value|default:'' }}",
      endDate: "{{  form.end_date.value|default:'' }}",
      amount: 0,
      usdAmount: 0,
      isServiceDelivery: "{{ is_service_delivery|yesno:'true,false' }}",
      showDownloadButton: false,
      totalLineItemsCount: 0,
      previewLineItemsCount: 0,

      init() {
        if (this.isServiceDelivery) {
          this.fetchInvoiceLineItems();
        }
      },

      convert(replace = false) {
        // date and amount should be present before making http call
        if (!this.$refs.amount?.value || !this.$refs.date?.value) return;

        htmx.ajax('POST', '{% url "opportunity:exchange_rate" org_slug=request.org.slug opp_id=opportunity.id %}', {
          target: '#converted-amount-wrapper',
          swap: 'innerHTML',
          values: {
            amount: this.$refs.amount.value,
            date: this.$refs.date.value,
            usd_currency: this.currency,
            should_replace_amount: replace
          }
        }).then(() => {
          if (replace) {
            const newAmount = document.querySelector('#exchange-rate-display')?.dataset?.convertedAmount;
            if (newAmount) {
              this.$refs.amount.value = newAmount;
            }
          }
        });
      },

      fetchInvoiceLineItems() {
        if (!this.startDate || !this.endDate) return;

        fetch('{% url "opportunity:invoice_items" org_slug=request.org.slug opp_id=opportunity.id %}', {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            start_date: this.startDate,
            end_date: this.endDate
          })
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('invoice-line-items-wrapper').innerHTML = data.line_items_table_html;
          this.amount = data.total_amount;
          this.usdAmount = data.total_usd_amount;
          this.showDownloadButton = true;

          this.totalLineItemsCount = data.total_items_count;
          this.previewLineItemsCount = data.preview_items_count;
        }).catch(error => {
          console.error('Error fetching invoice items:', error);
          this.showDownloadButton = false;
        });
      },

      downloadLineItemsUrl() {
        if(!this.startDate || !this.endDate) {
          alert('Please ensure start and end dates are selected.');
          return;
        }

        var downloadUrl = '{% url "opportunity:download_invoice_line_items" org_slug=request.org.slug opp_id=opportunity.id %}';
        downloadUrl += `?start_date=${this.startDate}&end_date=${this.endDate}`;

        return downloadUrl;
      }
    }));
  });
</script>
{% endblock content %}
