{% extends "opportunity/invoice_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block top_buttons %}
  {{ block.super }}
  {% if not request.is_opportunity_pm %}
  <div x-data="{ open: false }" @click.away="open = false" class="relative">
    <button @click="open = !open" class="button button-md primary-dark flex flex-row items-center space-x-2">
      {% translate "Create Invoice" %}
      <i :class="open ? 'rotate-180' : ''" class="fa-solid fa-chevron-down transition-all text-xs"></i>
    </button>

    <div x-show="open" x-transition.opacity x-cloak
      class="absolute top-12 right-0 min-w-56 bg-white shadow rounded-lg z-50">
      <ul class="p-2 w-full max-h-80 overflow-y-auto">
        <li class="p-2 hover:bg-gray-100 rounded cursor-pointer text-left">
          <a href="{{ new_invoice_url }}?invoice_type=service_delivery">
            <p class="text-brand-deep-purple text-sm font-medium">{% translate Service Delivery %}</p>
          </a>
        </li>
        <li class="p-2 hover:bg-gray-100 rounded cursor-pointer text-left">
          <a href="{{ new_invoice_url }}?invoice_type=custom">
            <p class="text-brand-deep-purple text-sm font-medium">{% translate Custom %}</p>
          </a>
        </li>
      </ul>

    </div>
  </div>
  {% endif %}

{% endblock top_buttons %}
