{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% load waffle_tags %}

{% block content %}
{% include 'components/breadcrumbs.html' with path=path %}
<div class="card_bg">
  <div class="card_title mb-4">
    {% if is_service_delivery %}
      {% translate "Review Service Delivery Invoice" %}
    {% else %}
      {% translate "Review Custom Invoice" %}
    {% endif %}
    <span class="badge badge-sm bg-gray-200 text-gray-700 ml-2">{% translate "Read Only" %}</span>
    {% if form.instance.payment %}
      <span class="badge badge-sm bg-gray-200 text-gray-700 ml-2">{% translate "Paid" %}</span>
    {% endif %}
  </div>
  <div x-data="invoiceFormHandler()">
    {% crispy form %}
    <div class="mt-6 flex justify-start gap-4">
      <a href="{% url 'opportunity:invoice_list' org_slug=request.org.slug opp_id=opportunity.opportunity_id %}"
         class="button button-md outline-style">
        {% translate "Back to Invoices" %}
      </a>
      {% if updates_to_mark_as_paid_workflow_switch %}
        <!--  I am a PM -->
        {% if request.is_opportunity_pm %}
          {% if invoice_status == 'pending_pm_review' %}
            <a @click="rejectInvoice()" class="button button-md outline-style">
              {% translate "Reject" %}
            </a>
            <a @click="submitInvoice('ready_to_pay')" class="button button-md primary-dark">
              {% translate "Approve for Payment Processing" %}
            </a>
          {% elif invoice_status == 'ready_to_pay' %}
            <a @click="rejectInvoice()" class="button button-md outline-style">
              {% translate "Reject" %}
            </a>
          <button hx-post="{% url 'opportunity:invoice_pay' org_slug=request.org.slug opp_id=opportunity.opportunity_id %}"
                    hx-vals='{"pk": "{{ form.instance.payment_invoice_id }}"}'
                    class="button button-md primary-dark justify-center !inline-flex"
                    {% if form.instance.payment %}disabled{% endif %}>
              {% translate "Pay" %}
            </button>
          {% endif %}

        <!-- I am a NM -->
        {% elif invoice_status == 'pending_nm_review' %}
          <a @click="cancelInvoice()" class="button button-md outline-style">
            {% translate "Cancel" %}
          </a>
          <a @click="submitInvoice('pending_pm_review')" class="button button-md primary-dark">
            {% translate "Submit to Program Manager" %}
          </a>
        {% endif %}

      <!-- Switch is not active -->
      {% else %}
        {% if request.is_opportunity_pm %}
          {% if invoice_status == 'pending_pm_review' %}
          <button hx-post="{% url 'opportunity:invoice_pay' org_slug=request.org.slug opp_id=opportunity.opportunity_id %}"
                    hx-vals='{"pk": "{{ form.instance.payment_invoice_id }}"}'
                    class="button button-md primary-dark justify-center !inline-flex"
                    {% if form.instance.payment %}disabled{% endif %}>
              {% translate "Pay" %}
            </button>
          {% endif %}
        {% elif invoice_status == 'pending_nm_review' %}
          <a
            @click="submitInvoice('pending_pm_review')"
            class="button button-md primary-dark"
          >
            {% translate "Submit for Approval" %}
          </a>
        {% endif %}
      {% endif %}
      {% switch 'updates_to_mark_as_paid_workflow' %}
        <a href="{% url 'opportunity:download_invoice' org_slug=request.org.slug opp_id=opportunity.opportunity_id invoice_id=form.instance.payment_invoice_id %}"
           class="button button-md outline-style">
          {% translate "Download" %}
          <i class="fa-solid fa-download text-brand-deep-purple"></i>
        </a>
      {% endswitch %}
    </div>
    {% trans "Cancel Invoice" as cancel_title %}
    {% trans "Are you sure you want to cancel this invoice? This action cannot be undone." as cancel_message %}
    {% include "components/invoice_confirm_modal.html" with modal_name="showCancelModal" modal_title=cancel_title modal_message=cancel_message confirm_action="confirmCancelInvoice()" btn_text=cancel_title %}

    {% trans "Reject Invoice" as reject_title %}
    {% trans "Are you sure you want to reject this invoice? This action cannot be undone." as reject_message %}
    {% include "components/invoice_confirm_modal.html" with modal_name="showRejectModal" modal_title=reject_title modal_message=reject_message confirm_action="confirmRejectInvoice()" btn_text=reject_title %}

  </div>
</div>
{% if show_payment_invoice_invoice_ticket_link_form %}
<br/>
<div class="card_bg">
  <form
    method="POST"
    action="{% url 'opportunity:update_invoice_invoice_ticket_link' org_slug=request.org.slug opp_id=opportunity.opportunity_id invoice_id=object.payment_invoice_id %}"
  >
    {% csrf_token %}
    <div class="mb-4">
      <div class="mb-2">
        <label for="id_invoice_ticket_link" class="text-gray-700 text-sm font-bold">
          {% translate "Invoice Ticket" %}
        </label>
        {% if object.invoice_ticket_link %}
          <a class="fa fa-external-link" target="_blank" href="{{ object.invoice_ticket_link }}"
             aria-label="{% translate 'Open invoice ticket' %}"
          ></a>
        {% endif %}
      </div>
      <input type="url" name="invoice_ticket_link"
             class="border py-2 w-full border-gray-300 bg-white rounded-lg block focus:outline-none text-gray-700 px-4"
             id="id_invoice_ticket_link"
             value="{{ object.invoice_ticket_link|default_if_none:'' }}"
      >
    </div>
    <button class="button button-md primary-dark">
      {% translate "Update" %}
    </button>
  </form>
</div>
{% endif %}

{% include "opportunity/partials/invoice_form_handler.html" with is_read_only=True %}
{% endblock content %}
