{% extends "base.html" %}
{% load static %}

{% block title %}Create new Opportunity{% endblock %}

{% block content %}
  <div class="container">
    <div class="mb-2 mt-2">
      <a class="btn btn-primary"
         href="{% url 'opportunity:create' org_slug=request.org %}">Create new</a>
    </div>
    <table class="table table-bordered">
      <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for opportunity in page_obj %}
        <tr>
          <td>{{ opportunity.name }}</td>
          <td>
            {% if opportunity.active %} Active {% else %} Inactive {% endif %}
          </td>
          <td>
            <a href="{% url 'opportunity:detail' org_slug=request.org pk=opportunity.id %}">View</a>
            <a href="{% url 'opportunity:edit' org_slug=request.org pk=opportunity.id %}">Edit</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No opportunities yet.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if page_obj.num_pages > 1 %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
              <li class="page-item active">
                {% else %}
              <li class="page-item">
            {% endif %}
          <a class="page-link" href="?page={{ page_number }}">
            {{ page_number }}
          </a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link"
                 href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock content %}
