{% extends "opportunity/base.html" %}
{% load static %}
{% load sort_link %}

{% block title %}{{ request.org }} - Opportunities{% endblock %}

{% block content %}
  <div class="container bg-white shadow">
    <div class="mt-5 py-3">
      <h1> Opportunities
        <span class="float-end">
          {% if request.org_membership.is_viewer %}
          <button class="btn btn-primary" disabled>
            <span class="bi bi-plus"></span> Add new
          </button>
          {% else %}
          <a class="btn btn-primary"
             href="{{ opportunity_init_url }}"
             title="Add new opportunity"><span
            class="bi bi-plus"></span> Add new
          </a>
          {% endif %}
        </span>
      </h1>
    </div>
    <div class="pb-4">
      <table class="table border table-responsive">
        <thead class="table-light">
        <tr>
          <th>{% sort_link 'name' 'Name' %}</th>
          <th>{% sort_link 'start_date' 'Start Date' %}</th>
          <th>{% sort_link 'end_date' 'End Date' %}</th>
          <th>Status</th>
          <th>Manage</th>
        </tr>
        </thead>
        <tbody x-ref="tbody">
        {% for opportunity in page_obj %}
          <tr>
            <td>{{ opportunity.name }}</td>
            <td>{{ opportunity.start_date|default:"Not Set" }}</td>
            <td>{{ opportunity.end_date|default:"Not Set" }}</td>
            <td>
              {% if opportunity.is_setup_complete %}
                {% if opportunity.is_active %}
                  <span class="badge bg-success rounded-pill">Active</span>
                {% else %}
                  <span class="badge bg-secondary text-white rounded-pill">Inactive</span>
                {% endif %}
              {% else %}
                <span class="badge bg-warning text-white rounded-pill">Pending Setup</span>
              {% endif %}
            </td>
            <td width="300">
              <div>
                <a class="btn btn-primary btn-sm"
                   href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.id %}">
                  <span class="bi bi-eye"></span><span class="d-none d-md-inline">&nbsp;View</span>
                </a>
                {% if request.org_membership.is_viewer %}
                <button class="btn btn-warning btn-sm" disabled>
                  <span class="bi bi-pen"></span><span class="d-none d-md-inline">&nbsp;Edit</span>
                </button>
                {% if not opportunity.managed %}
                <button class="btn btn-primary btn-sm" disabled>
                  <span class="bi bi-plus"></span><span class="d-none d-md-inline">&nbsp;Add Budget</span>
                </button>
                {% endif %}
                {% else %}
                <a class="btn btn-warning btn-sm"
                   href="{% url 'opportunity:edit' org_slug=request.org.slug pk=opportunity.id %}"><span
                  class="bi bi-pen"></span><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                {% if not opportunity.managed %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'opportunity:add_budget_existing_users' org_slug=request.org.slug pk=opportunity.id %}"><span
                  class="bi bi-plus"></span><span class="d-none d-md-inline">&nbsp;Add Budget</span>
                </a>
                {% endif %}
                {% endif %}
              </div>
            </td>

          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No opportunities yet.</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'pagination.html' %}
  </div>

{% if opportunity_invitations %}
<div class="container bg-white shado mb-5">
  <div class="mt-5 py-3">
    <h2>Opportunity Invitations</h2>
  </div>
  <div class="pb-4">
    <table class="table border table-responsive">
      <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody>
      {% for invitation in opportunity_invitations %}
      <tr>
        <td>{{ invitation.managed_opportunity.name }}</td>
        <td>{{ invitation.managed_opportunity.start_date|default:"Not Set" }}</td>
        <td>{{ invitation.managed_opportunity.end_date|default:"Not Set" }}</td>
        <td>
          {% if invitation.managed_opportunity.is_setup_complete %}
          {% if invitation.managed_opportunity.is_active %}
          <span class="badge bg-success rounded-pill">Active</span>
          {% else %}
          <span class="badge bg-secondary text-white rounded-pill">Inactive</span>
          {% endif %}
          {% else %}
          <span class="badge bg-warning text-white rounded-pill">Pending Setup</span>
          {% endif %}
        </td>
        <td width="300">
          <div>
            <a class="btn btn-primary btn-sm"
               href="{% url 'opportunity:apply_opportunity_invite' org_slug=request.org.slug pk=invitation.managed_opportunity.id application_id=invitation.id %}">
              <span class="bi bi-check-circle-fill"></span><span class="d-none d-md-inline">&nbsp;Apply</span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock content %}
