{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ request.org }} - {{ opportunity.name }}{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-5">Edit Opportunity</h1>
    <form method="post">
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>

  <script>
    function calculateNewOpportunityBudget() {
      const numUsers = document.querySelectorAll("input[name='selected_users']:checked").length
      const budget = document.getElementById("id_budget_per_user").value
      const calculated_budget = numUsers * budget

      document.getElementById("calculated_budget_text").innerHTML = `Please confirm to add <b>${calculated_budget}</b> budget to this Opportunity.`
    }
  </script>
{% endblock content %}
