<div
  x-show="isOpen"
  x-cloak
  @click.away="isOpen = false"
  x-transition:enter="transition ease-out duration-200"
  x-transition:enter-start="opacity-0 scale-95"
  x-transition:enter-end="opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="opacity-100 scale-100"
  x-transition:leave-end="opacity-0 scale-95"
  class="absolute right-0 top-8 w-50 py-2 bg-white rounded-lg shadow-xl z-20"
>
  <ul>
     {% if not opportunity.managed or is_opportunity_pm %}
    <li>
       <a href="{% url 'opportunity:edit' request.org.slug opportunity.opportunity_id %}" class="block px-4 py-2.5 text-sm text-brand-deep-purple"
        >Edit Opportunity</a
      >
    </li>
    <li>
       <a href="{% url 'opportunity:add_payment_unit' request.org.slug opportunity.opportunity_id %}"
        class="block px-4 py-2.5 text-sm text-brand-deep-purple">
        Add Payment Unit
      </a>
    </li>
    {% endif %}

    {% if opportunity.managed %}
    <li>
       <a href="{% url 'opportunity:invoice_list' request.org.slug opportunity.opportunity_id %}" class="block px-4 py-2.5 text-sm text-brand-deep-purple"
        >View Invoices</a
      >
    </li>
    {% endif %}
    <li x-data="{showMoreOptions: false}">
      <a class="block px-4 py-2.5 text-sm text-brand-deep-purple" @click="showMoreOptions = true">Catchment Areas</a>
      <div x-show="showMoreOptions"
          x-cloak
          @click.away="showMoreOptions = false"
          class="ms-4"
        >
        <a class="block px-4 py-2.5 text-sm text-brand-deep-purple" @click="showCatchmentImportModal = true">Import</a>
        <a class="block px-4 py-2.5 text-sm text-brand-deep-purple" @click="showCatchmentExportModal = true">Export</a>
      </div>
    </li>
    <li>
      <a href="{% url 'opportunity:user_invite' request.org.slug opportunity.opportunity_id %}" class="block px-4 py-2.5 text-sm text-brand-deep-purple"
        >Add Connect Workers</a
      >
    </li>
    <li>
      <a href="{% url 'opportunity:add_budget_existing_users' request.org.slug opportunity.opportunity_id %}" class="block px-4 py-2.5 text-sm text-brand-deep-purple"
        >Add Budget</a
      >
    </li>
    {% if not opportunity.managed or is_opportunity_pm %}
    <li>
      <a  href="{% url 'opportunity:verification_flags_config' request.org.slug opportunity.opportunity_id %}" class="block px-4 py-2.5 text-sm text-brand-deep-purple"
        >Verification Flags</a
      >
    </li>
    {% endif %}
    <li>
      <a href="{% url 'opportunity:send_message_mobile_users' request.org.slug opportunity.opportunity_id %}" class="block px-4 py-2.5 text-sm text-brand-deep-purple"
        >Send Message</a
      >
    </li>
  </ul>
</div>
