{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
  <div class="container">

    <form method="post">
      {% csrf_token %}
      {% crispy form %}
    </form>

    <script>
      window.onload = function () {
        const applications = {{ applications|safe }};
        const deliver_app_select = document.getElementById("id_deliver_app");

        deliver_app_select.addEventListener("change", populateDeliverFormSelect);
        const deliver_form_select = document.getElementById("id_deliver_form");
        populateDeliverFormSelect();

        function populateDeliverFormSelect() {
          const selectedAppId =  deliver_app_select.options[deliver_app_select.selectedIndex].value;
          const selectedApp = applications.filter(app => app.id === selectedAppId)[0];
          deliver_form_select.innerHTML = "";

          for (const form of selectedApp.forms) {
            const form_option = document.createElement("option");
            form_option.text = form.name;
            form_option.value = form.id;
            deliver_form_select.add(form_option);
          }
        }
      }
    </script>
  </div>
{% endblock content %}
