{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'components/breadcrumbs.html' with path=path %}

<div id="loadingIndicator" class="loading-indicator htmx-indicator">
    <div class="loading-content">
    <div class="loading-spinner"></div>
    <p class="loading-text">Loading...</p>
    </div>
</div>

<div class="flex flex-col w-full gap-2">
    <!-- Tabs -->
    <div class="flex relative mx-auto items-center justify-between w-full px-4 bg-slate-50 rounded-lg shadow-sm h-14">
    <ul id="tabs" class="tabs">
      {% for tab in tabs %}
      <li
        id="{{ tab.key }}-tab"
        hx-get="{{ tab.url }}"
        hx-indicator="#loadingIndicator"
        hx-push-url="true"
        {% if tab.key == active_tab %}
        hx-trigger="load"
        {% endif %}
        class="tab-item {% if tab.key == active_tab %}active{% endif %}"
      >
        <span>{{ tab.label }}</span>
        {% if tab.key == active_tab %}
        <div></div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <div class="flex justify-end gap-2">
        <!-- Tab Options -->
        {% if export_task_id %}
        <div class="flex">
            <div
            hx-get="{% url 'opportunity:export_status' request.org.slug export_task_id %}"
            hx-target="this"
            hx-trigger="load"
            hx-swap="outerHTML"
            class="flex items-center justify-center"
            >
            <div class="animate-spin rounded-full h-6 w-6 border-t-2 border-b-2 border-blue-500"></div>
            <span class="sr-only">Loading...</span>
            </div>
        </div>
        {% endif %}
        <div id="tab-options" class="flex gap-x-4 items-center">
        </div>
    </div>
    </div>

    <!-- Tab Content Container -->
    <div
        id="table"
        class="w-full"
    ></div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('connectWorkers', () => ({
      showWorkerExportModal: false,
      showConfirmDeleteInvitesModal: false,
      selected: [],
      selectAll: false,

      toggleSelectAll() {
        this.selectAll = !this.selectAll;
        if (this.selectAll) {
          this.selected = Array.from(document.querySelectorAll('input[name="row_select"]'))
            .map(c => c.value);
        } else {
          this.selected = [];
        }
      },
      updateSelectAll() {
        const boxes = Array.from(document.querySelectorAll('input[name="row_select"]'));
        const checked = boxes.filter(b => b.checked).length;
        this.selectAll = boxes.length > 0 && checked === boxes.length;
        this.selected = boxes.filter(b => b.checked).map(b => b.value);
      }
    }));
  });
</script>
{% endblock inline_javascript %}
