{% extends "base.html" %}
{% load i18n %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}{{ request.org }} - {{ opportunity.name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="mt-2 pt-4 px-4">
      <div class="row align-items-center">
        <div class="col-6">
          <h1 class="display-5 mb-0">{{ object.name }}</h1>
        </div>
        <div class="col-6">
          <div class="dropdown float-end">
            <button class="btn btn-primary btn-sm rounded-circle" type="button" id="opportunity_details_dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="opportunity_details_dropdown">
              <li>
                <a class="dropdown-item"
                   href="{% url 'opportunity:edit' org_slug=request.org.slug pk=opportunity.id %}">
                  <i class="bi bi-pencil-fill pe-2"></i> Edit
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'opportunity:add_budget_existing_users' org_slug=request.org.slug pk=opportunity.id %}">
                  <i class="bi bi-plus-circle-fill pe-2"></i>
                  Add Budget
                </a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="{% url 'opportunity:add_payment_unit' org_slug=request.org.slug pk=opportunity.id %}">
                  <i class="bi bi-plus-circle-fill pe-2"></i>
                  Add Payment Unit
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exportVisitModal">
                  <i class="bi bi-file-earmark-arrow-down-fill pe-2"></i>
                  {% translate "Export User Visits" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#importVisitModal">
                  <i class="bi bi-file-earmark-arrow-up-fill pe-2"></i>
                  {% translate "Import Verified Visits" %}
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exportPaymentModal">
                  <i class="bi bi-file-earmark-arrow-down-fill pe-2"></i>
                  {% translate "Export Users for Payment" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#importPaymentModal">
                  <i class="bi bi-file-earmark-arrow-up-fill pe-2"></i>
                  {% translate "Import Payment Records" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exportUserStatusModal">
                  <i class="bi bi-file-earmark-arrow-down-fill pe-2"></i>
                  {% translate "Export Users Status" %}
                </a>
              </li>
              <li>
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exportPaymentAndVerificationModal">
                  <i class="bi bi-file-earmark-arrow-down-fill pe-2"></i>
                  {% translate "Export Deliver Status" %}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <small title="End date"><i class="bi bi-clock"></i> Ends on <b>{{ object.end_date }}</b></small>
        </div>
        <div class="col-3 d-flex">
          {% if export_task_id %}
            <div class="flex-grow-1 justify-content-end">
            <div hx-get="{% url "opportunity:export_status" request.org.slug export_task_id %}"
                 hx-target="this"
                 hx-trigger="load"
                 hx-swap="outerHTML">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            </div>
          {% endif %}
        </div>
      </div>
      <hr/>
      <span class="text-black-50 text-uppercase">Description</span>
      <p>
        {{ object.description }}
      </p>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-borderless">
            <tbody>
            <tr>
              <th scope="row">Learn App</th>
              <td>{{ object.learn_app.name }}</td>
            </tr>
            <tr>
              <th scope="row">Deliver App</th>
              <td>{{ object.deliver_app.name }}</td>
            </tr>
            <tr>
              <th scope="row">Max Visits per user</th>
              <td>{{ object.max_visits_per_user }}</td>
            </tr>
            <tr>
              <th scope="row">Daily Visits per user</th>
              <td>{{ object.daily_max_visits_per_user }}</td>
            </tr>
            <tr>
              <th scope="row">Total Budget</th>
              <td>{{ object.total_budget }} {{ object.currency|default_if_none:"" }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-borderless">
            <tbody>
            <tr>
              <th scope="row">Budget per visit</th>
              <td>{{ object.budget_per_visit }} {{ object.currency|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th scope="row">Claimed Budget</th>
              <td>{{ object.claimed_budget }} {{ object.currency|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th scope="row">Utilised Budget</th>
              <td>{{ object.utilised_budget }} {{ object.currency|default_if_none:"" }}</td>
            </tr>
            <tr>
              <th scope="row">Claimed Visits</th>
              <td>{{ object.claimed_visits }}</td>
            </tr>
            <tr>
              <th scope="row">Approved Visits</th>
              <td>{{ object.approved_visits }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#learn-app-modules" aria-expanded="true" aria-controls="collapseOne">
              Learn App Modules
            </button>
          </h2>
          <div id="learn-app-modules" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0 m-0">
              <table class="table table-borderless table-custom">
                <thead class="table-light">
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Time Estimate</th>
                </tr>
                </thead>
                <tbody>
                {% for module in object.learn_app.learn_modules.all %}
                  <tr>
                    <td>{{ module.name }}</td>
                    <td>{{ module.description }}</td>
                    <td>{{ module.time_estimate }} hour{{ module.time_estimate|pluralize:",s" }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#deliver-units" aria-expanded="false" aria-controls="collapseTwo">
              Deliver Units
            </button>
          </h2>
          <div id="deliver-units" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0 m-0">
              <table class="table table-borderless table-custom">
                <thead class="table-light">
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                </tr>
                </thead>
                <tbody>
                {% for unit in object.deliver_app.deliver_units.all %}
                  <tr>
                    <td>{{ unit.name }}</td>
                    <td>{{ unit.slug }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-2 px-4">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="learn-tab" data-bs-toggle="tab" data-bs-target="#learn-tab-pane"
                  type="button" role="tab" aria-controls="learn-tab-pane" aria-selected="true">
            Learn App Progress
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="deliver-status-tab" data-bs-toggle="tab" data-bs-target="#deliver-status-tab-pane"
                  type="button" role="tab" aria-controls="deliver-status-tab-pane" aria-selected="false">Deliver Status
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="user-status-tab" data-bs-toggle="tab" data-bs-target="#user-status-tab-pane"
                  type="button" role="tab" aria-controls="user-status-tab-pane" aria-selected="false">User Status
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="payment-units-tab" data-bs-toggle="tab" data-bs-target="#payment-units-tab-pane"
                  type="button" role="tab" aria-controls="payment-units-tab-pane" aria-selected="false">Payment Units
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment-tab-pane"
                  type="button" role="tab" aria-controls="payment-tab-pane" aria-selected="false">
            {% translate "Payment Status" %}
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="learn-tab-pane" role="tabpanel" aria-labelledby="learn-tab"
             tabindex="0">
          <div hx-get="{% url "opportunity:user_table" org_slug=request.org.slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
        <div class="tab-pane fade" id="deliver-status-tab-pane" role="tabpanel" aria-labelledby="deliver-status-tab" tabindex="0">
          <div hx-get="{% url "opportunity:deliver_status_table" org_slug=request.org.slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
        <div class="tab-pane fade" id="payment-tab-pane" role="tabpanel" aria-labelledby="payment-tab" tabindex="0">
          <div hx-get="{% url "opportunity:payment_table" org_slug=request.org.slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
        <div class="tab-pane fade" id="user-status-tab-pane" role="tabpanel" aria-labelledby="user-status-tab" tabindex="0">
          <div hx-get="{% url "opportunity:user_status_table" org_slug=request.org.slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
        <div class="tab-pane fade" id="payment-units-tab-pane" role="tabpanel" aria-labelledby="payment-units-tab" tabindex="0">
          <div hx-get="{% url "opportunity:payment_unit_table" org_slug=request.org.slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
<!-- User Visit Export modal -->
<div class="modal fade" id="exportVisitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{% translate "Export Visit Data" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "opportunity:visit_export" org_slug=request.org.slug pk=opportunity.pk %}" method="post"
            enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            {% crispy visit_export_form %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Export</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- User Visit Import modal -->
<div class="modal fade" id="importVisitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{% translate "Import Verified Visits" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "opportunity:visit_import" org_slug=request.org.slug pk=opportunity.pk %}" method="post"
            enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            {% csrf_token %}
            <input class="form-control" type="file" id="importFile" name="visits" required>
            <div class="col-auto">
              <span id="importFileHelp" class="form-text">
                {% blocktrans %}
                  The file must contain at least the "Visit ID" and "Status" column.
                  The import is case-insensitive.
                {% endblocktrans %}
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Payment Export modal -->
<div class="modal fade" id="exportPaymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{% translate "Export Users for Payment" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "opportunity:payment_export" org_slug=request.org.slug pk=opportunity.pk %}" method="post"
            enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            {% crispy payment_export_form %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Export</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Payment Import modal -->
<div class="modal fade" id="importPaymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{% translate "Import Payment Records" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "opportunity:payment_import" org_slug=request.org.slug pk=opportunity.pk %}" method="post"
            enctype="multipart/form-data">
        <div class="modal-body">
          <div class="mb-3">
            {% csrf_token %}
            <input class="form-control" type="file" id="importFile" name="payments">
            <div class="col-auto">
              <span id="importFileHelp" class="form-text">
                {% blocktrans %}
                  The file must contain at least the "Username" and "Amount" column.
                {% endblocktrans %}
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- User status Export modal -->
  <div class="modal fade" id="exportUserStatusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{% translate "Export User Status" %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url "opportunity:user_status_export" org_slug=request.org.slug pk=opportunity.pk %}" method="post"
              enctype="multipart/form-data">
          <div class="modal-body">
            <div class="mb-3">
              {% crispy user_status_export_form %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Export</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Payments and Verification Export modal -->
  <div class="modal fade" id="exportPaymentAndVerificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{% translate "Export Payments and Verification" %}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'opportunity:deliver_status_export' org_slug=request.org.slug pk=opportunity.pk %}" method="post"
              enctype="multipart/form-data">
          <div class="modal-body">
            <div class="mb-3">
              {% crispy user_status_export_form %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Export</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock modal %}
