{% extends "opportunity/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ request.org }} - Create Opportunity{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-5">Create Opportunity</h1>
    <form method="post"
          x-data="{
            visitBudget: 0,
            maxUsers: 0,
            maxVisits: 0,
            totalBudget() {return this.visitBudget * this.maxUsers * this.maxVisits}
          }"
          hx-ext="loading-states">
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>
{% endblock content %}
