{% extends "base.html" %}
{% load django_tables2 %}

{% block content %}
  <div class="container">
    <div class="mt-2 pt-4 px-4">
      <div class="row align-items-center">
        <div class="col-8">
          <h1 class="display-5 mb-0">{{ object.name }}</h1>
        </div>
        <div class="col-4">
          <a class="float-end btn btn-primary rounded-circle"
             href="{% url 'opportunity:edit' org_slug=org_slug pk=opportunity.id %}">
            <i class="bi bi-pencil"></i>
          </a>
        </div>
      </div>
      <small title="End date"><i class="bi bi-clock"></i> Ends on <b>{{ object.end_date }}</b></small>
      <hr/>
      <span class="text-black-50 text-uppercase">Description</span>
      <p>
        {{ object.description }}
      </p>
      <table class="table table-borderless">
        <tbody>
        <tr>
          <th scope="row">Learn App</th>
          <td>{{ object.learn_app.name }}</td>
        </tr>
        <tr>
          <th scope="row">Deliver App</th>
          <td>{{ object.deliver_app.name }}</td>
        </tr>
        <tr>
          <th scope="row">Max Visits per user</th>
          <td>{{ object.max_visits_per_user }}</td>
        </tr>
        <tr>
          <th scope="row">Daily Visits per user</th>
          <td>{{ object.daily_max_visits_per_user }}</td>
        </tr>
        <tr>
          <th scope="row">Total Budget</th>
          <td>{{ object.total_budget }}</td>
        </tr>
        <tr>
          <th scope="row">Budget per visit</th>
          <td>{{ object.budget_per_visit }}</td>
        </tr>
        </tbody>
      </table>
      <hr/>
    </div>

    <div class="pt-2 px-4">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="learn-tab" data-bs-toggle="tab" data-bs-target="#learn-tab-pane"
                  type="button" role="tab" aria-controls="learn-tab-pane" aria-selected="true">
            Learn App Progress
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="deliver-tab" data-bs-toggle="tab" data-bs-target="#deliver-tab-pane"
                  type="button" role="tab" aria-controls="deliver-tab-pane" aria-selected="false">Deliver Forms
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="learn-tab-pane" role="tabpanel" aria-labelledby="learn-tab"
             tabindex="0">
          <div hx-get="{% url "opportunity:user_table" org_slug=org_slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
        <div class="tab-pane fade" id="deliver-tab-pane" role="tabpanel" aria-labelledby="deliver-tab" tabindex="0">
          <div hx-get="{% url "opportunity:visit_table" org_slug=org_slug pk=opportunity.pk %}{% querystring %}"
               hx-trigger="load" hx-swap="outerHTML">
            {% include "tables/table_placeholder.html" with num_cols=4 %}
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2 px-4">

    </div>
  </div>
{% endblock content %}
