{% extends "opportunity/base.html" %}
{% load static %}

{% block title %}{{ request.org }} - Opportunities{% endblock %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.pk %}">
      {{ opportunity.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">User Payments</li>
{% endblock %}

{% block content %}
  <h2 class="mb-2">Payments for User {{ access.display_name }}</h2>
  <hr>
  {% if latest_payment %}
    <button class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#rollbackConfirmModal">Rollback Last Payment</button>
  {% endif %}
  {% load django_tables2 %}
  {% render_table table %}
  {% if latest_payment %}
  <div class="modal fade" id="rollbackConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Rollback Payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please confirm to rollback the payment of <b>{{ latest_payment.amount }} {{ opportunity.currency }}</b> paid on
          <b>{{ latest_payment.date_paid|date }}</b> to <b>{{ access.display_name }}</b>.
        </div>
        <div class="modal-footer">
          <form action="{% url "opportunity:payment_delete" org_slug=request.org.slug opp_id=opportunity.pk access_id=access.pk pk=latest_payment.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Rollback</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}
