{% extends "opportunity/base.html" %}
{% load static %}
{% load django_tables2 %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.pk %}">
      {{ opportunity.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Payment Report</li>
{% endblock %}

{% block content %}
<h2 class="mb-2">Payment Report</h2>
<hr />
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>User</th>
        <th></th>
      </tr>
      <tr>
        <td>Total Payment Accrued</td>
        <td>{{ total_user_payment_accrued }}</td>
      </tr>
      <tr>
        <td>Total Paid</td>
        <td>{{ total_paid_users }}</td>
      </tr>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <tr>
        <th>Network Manager</th>
        <th></th>
      </tr>
      <tr>
        <td>Total Payment Accrued</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Total Paid</td>
        <td>0</td>
      </tr>
    </table>
  </div>
</div>
<div class="table-responsive">
  {% render_table table %}
</div>
{% endblock content %}
