{% extends "base.html" %}
{% load static %}

{% block title %}{{ request.org }} - Suspended Users{% endblock %}

{% block content %}
    <nav class="mt-2 small" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'opportunity:list' org_slug=request.org.slug %}">
            Opportunities
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'opportunity:detail' org_slug=request.org.slug opp_id=opportunity.id %}">
            {{ opportunity.name }}
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Suspended Users</li>
      </ol>
    </nav>

    <h2>Suspended Users</h2>
    <hr />
   {% include "tables/tabbed_table.html" with table=table %}
{% endblock content %}
