<div {% if not progress.complete %}
  hx-target="this"
  hx-get="{% url 'opportunity:visit_export_status' request.org.slug task_id %}"
  hx-trigger="load delay:1s"
  hx-swap="outerHTML"
{% endif %}
>
  {% if progress.error %}
    <div class="alert alert-danger" role="alert">
      {{ progress.error }}
    </div>
  {% elif not progress.complete %}
    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
    </div>
    Preparing export, hang tight... {{ progress.progress.description }}
  {% else %}
    All done!
    <a class="link" href="{% url 'opportunity:download_visit_export' request.org.slug task_id %}">Download your
      export</a>
  {% endif %}
</div>
