{% extends "opportunity/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block title %}{{ request.org }} - User Visit Review{% endblock %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.pk %}">
      {{ opportunity.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">User Visit Review</li>
{% endblock %}

{% block content %}
<h2 class="mb-2">User Visit Review</h2>
<hr />
{% if request.org_membership.is_admin and request.org.program_manager %}
<form method="post"
      x-data="{
        selectAll: false,
        selected: [],
        toggleSelectAll() {
          this.selectAll = !this.selectAll;
          if(this.selectAll)
            this.selected = JSON.parse(document.getElementById('user_visit_ids').textContent);
          else
            this.selected = [];
        }
      }"
>
  {% csrf_token %}
  <div class="table-responsive">
    {% render_table table %}
  </div>
  <div class="mt-2 input-group w-25">
    <select class="form-select" name="review_status" required>
      <option value="">Select</option>
      <option value="approved">Approved</option>
      <option value="rejected">Rejected</option>
    </select>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{{ user_visit_ids|json_script:"user_visit_ids" }}
{% else %}
<div class="table-responsive">
  {% render_table table %}
</div>
{% endif %}
{% endblock content %}
