{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load duration_minutes %}

{% block content %}
  <div class="container">
    <h2>Learn Progress for {{ object.user.name }}</h2>
    <table class="table table-bordered table-condensed">
      <thead>
      <tr>
        <th>Module Name</th>
        <th>Date Completed</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody>
      {% for mod in object.completedmodule_set.all %}
        <tr>
          <td>{{ mod.module.name }}</td>
          <td>{{ mod.date }}</td>
          <td>{{ mod.duration|duration_minutes }}</td>
        </tr>
        {% empty %}
        No learn progress for user.
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
