{% extends "base.html" %}
{% load static %}

{% block title %}{{ request.org }} - {{access.display_name}}{% endblock %}

{% block content %}
  <div class="container">
    <div class="card w-50 mx-auto">
      <div class="card-body">
        <h1 class="display-4 mb-0 text-center">{{access.display_name}}</h1>
        <div class="text-uppercase mb-2 text-center"><small>{{access.user.username}}</small></div>
        <hr />
        <div class="text-center">
          <div class="row mb-1 pb-1">
            <div class="col fw-bold">Phone</div>
            <div class="col">{{access.user.phone_number}}</div>
          </div>
          <div class="row mb-1 pb-1">
            <div class="col fw-bold">Learn Progress</div>
            <div class="col">{{access.learn_progress}}%</div>
          </div>
          <div class="row mb-1 pb-1">
            <div class="col fw-bold">Total Visits</div>
            <div class="col">{{access.visit_count}}</div>
          </div>
          <div class="row">
            <div class="col fw-bold">Last Visit Date</div>
            <div class="col">{{access.last_visit_date}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
