{% load django_tables2 %}

<form class="flex flex-col w-full gap-2"
      x-cloak
      x-data="{
        activeTab: '{{ request.GET.filter_status|default:"all" }}',
        page: {{ request.GET.page|default:"1" }},
        selected:[],
        showApproveModal: false,
        showRejectModal: false,
        updateUrlAndRequest() {
          // Update URL params before HTMX call so table headers can pick them up
          // this is done specifically because sortable_header using referer to get the base url.
          const url = new URL(window.location);
          const formData = new FormData(this.$el);
          const params = new URLSearchParams();
          for (let [key, value] of formData.entries()) {
            if (value && String(value).trim() !== '') {
              params.set(key, value);
            }
          }
          url.search = params.toString();
          window.history.pushState({}, '', url.toString());
          $dispatch('reload_table')
        }
      }"
      @change="!$event.target.matches('input[name=row_select], input[name=select_all]') ? updateUrlAndRequest() : null"
      hx-get="{% url 'opportunity:user_visit_verification_table' request.org.slug opportunity_access.opportunity.id opportunity_access.id %}"
      hx-trigger="reload_table from:body"
      hx-swap="outerHTML"
>
  <div class="flex relative mx-auto items-center justify-between w-full px-4 bg-slate-50 rounded-lg shadow-sm h-14 better-tabs overflow-x-auto">
    <div class="tabs">
      {% for tab in tabs %}
        <label class="tab" :class="{ 'tab-active': activeTab == '{{ tab.name }}'}">
          <input class="peer sr-only" type="radio" value="{{ tab.name }}" name="filter_status"
                 x-model="activeTab"
                 @click="page = 1"
            {% if not request.GET.filter_status and forloop.first %}
                 checked="checked" {% elif request.GET.filter_status == tab.name %}
                 checked="checked" {% endif %}/>
          {{ tab.label }}
        <span>(<span>{{ tab.count }}</span>)</span>
        </label>
      {% endfor %}
    </div>

    <div x-data="datePicker('tableDatePicker', {% if request.GET.filter_date %} new Date('{{ request.GET.filter_date }}' + 'T00:00:00') {% else %} '' {% endif %})"
      class="flex gap-x-4 items-center">
      <div class="flex items-center gap-1 bg-slate-100 p-2 text-sm font-normal rounded-sm">
        <i class="fa-solid fa-chevron-left text-brand-deep-purple cursor-pointer" @click="navigateDate(-1)"></i>
        <input type="text" id="tableDatePicker" name="filter_date"
               class="text-center w-32 focus:outline-none text-sm"
               placeholder="Select Date"
               value="{{ request.GET.filter_date|default:'' }}">
        <i class="fa-solid fa-xmark text-brand-deep-purple cursor-pointer me-2" x-cloak x-show="selectedDate != ''" @click="clear()"></i>
        <i class="fa-solid fa-chevron-right text-brand-deep-purple cursor-pointer" @click="navigateDate(1)"></i>
      </div>
    </div>
    <div x-show="selected?.length" class="flex gap-2">
      <button type="button" @click="showApproveModal = true;" class="button button-md positive-light">Approve</button>
      <button type="button" @click="showRejectModal = true;" class="button button-md negative-light">Reject</button>
    </div>

  </div>

  <!-- Tab Content Container with Loading Animation -->
  <div class="w-full relative shadow-sm flex-1 rounded-lg">
    <div class="flex flex-col w-full gap-2 min-h-160">
      {% render_table table %}
    </div>
    <div id="loading-spinner" role="status"
         class="htmx-indicator absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
      <div class="animate-spin rounded-full h-12 w-12 border-4 border-brand-mango border-t-transparent"></div>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <input type="hidden" name="page" value="{{ request.GET.page|default:1 }}" x-model="page" />
  <input type="hidden" name="sort" value="{{ request.GET.sort|default:'' }}" />
</form>


<!-- Approve Modal -->
<div x-cloak x-show="showApproveModal" x-transition.opacity class="modal-backdrop">
    <div @click.away="showApproveModal = false" x-transition class="modal">
      <div class="header flex justify-between items-center">
        <h2 class="title">Justification for Approval</h2>
        <button @click="showApproveModal = false" class="button-icon" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form hx-post="{% url "opportunity:approve_visit" org_slug=request.org.slug pk=user_visit.id %}"
        hx-swap="none"
        @submit="showApproveModal = false">
        {% csrf_token %}
        <div class="py-4">
          <textarea required class="base-textarea" id="justification" rows="3" name="justification"
            placeholder="Please provide a reason for approving flagged visits.">{{ justification }}</textarea>
        </div>
        <div class="footer flex justify-end">
          <button @click="showApproveModal = false" type="button" class="button button-md outline-style">
            Close
          </button>
          <button type="submit" class="button button-md positive-dark">Approve</button>
        </div>
      </form>
    </div>
  </div>

<!-- Rejection Modal -->
   <div x-cloak x-show="showRejectModal" x-transition.opacity class="modal-backdrop">
    <div @click.away="showRejectModal = false" x-transition class="modal">
      <div class="header flex justify-between items-center">
        <h2 class="title">Reason for Rejection</h2>
        <button @click="showRejectModal = false" class="button-icon" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form
        hx-swap="none"
        @submit="showRejectModal = false">
        {% csrf_token %}
        <div class="py-4">
          <textarea class="base-textarea" id="rejection-reason" rows="3" name="reason" id="reason"
            placeholder="Please provide a reason for rejecting visit.">{{ reason }}</textarea>
        </div>
        <div class="footer flex justify-end">
          <button @click="showRejectModal = false" type="button" class="button button-md outline-style">
            Close
          </button>
          <button type="submit" class="button button-md negative-dark">
            Reject
          </button>
        </div>
      </form>
    </div>
