{% extends "opportunity/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block title %}{{ request.org }} - User Visit Review{% endblock %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.pk %}">
      {{ opportunity.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">User Visit Review</li>
{% endblock %}

{% block content %}
<h2 class="mb-2">User Visit Review</h2>
<hr />
<form method="get" x-data="" x-ref="reviewFilterForm">
  {% crispy review_filter.form %}
</form>
{% if request.org_membership.is_admin and request.org.program_manager %}
<form method="post"
      x-data="{
        selectAll: false,
        selected: [],
        toggleSelectAll() {
          this.selectAll = !this.selectAll;
          const checkboxes = document.querySelectorAll('input[name=pk]');
          const allSelected = [];
          checkboxes.forEach(el => {
            allSelected.push(el.value);
            this.selected = this.selectAll ? allSelected : [];
          });
        }
      }"
>
  {% csrf_token %}
  <div class="table-responsive mb-2">
    {% render_table table %}
  </div>
  <input type="submit" class="btn btn-primary" name="review_status" value="Agree">
  <input type="submit" class="btn btn-danger" name="review_status" value="Disagree">
</form>
{% else %}
<div class="table-responsive">
  {% render_table table %}
</div>
{% endif %}
{% endblock content %}
