{% load django_tables2 %}

<div x-cloak
     x-data="visitVerification('{{ request.GET.filter_status|default:"all" }}', {{ request.GET.page|default:"1" }})"
     @change="!$event.target.matches('input[name=row_select], input[name=select_all], textarea[name=reason], textarea[name=justification]') ? updateUrlAndRequest() : null"
>
 <form
      x-ref="visitForm"
      class="flex flex-col w-full gap-2"
      hx-get="{% url 'opportunity:user_visit_verification_table' request.org.slug opportunity.id %}"
      hx-trigger="reload_table from:body"
      hx-swap="outerHTML"
  >
  <div class="flex relative mx-auto items-center justify-between w-full px-4 bg-slate-50 rounded-lg shadow-sm h-14 better-tabs overflow-x-auto">
    <div class="tabs">
      {% for tab in tabs %}
        <label class="tab" :class="{ 'tab-active': activeTab == '{{ tab.name }}'}">
          <input class="peer sr-only" type="radio" value="{{ tab.name }}" name="filter_status"
                 x-model="activeTab"
                 @click="page = 1"
            {% if not request.GET.filter_status and forloop.first %}
                 checked="checked" {% elif request.GET.filter_status == tab.name %}
                 checked="checked" {% endif %}/>
          {{ tab.label }}
        <span>(<span>{{ tab.count }}</span>)</span>
        </label>
      {% endfor %}
    </div>

    {% if not request.is_opportunity_pm and request.org_membership and not request.org_membership.is_viewer %}
      <div x-show="selected?.length" class="flex gap-2">
        <button type="button" @click="showBulkRejectModal = true;" class="button button-md outline-style">Reject All</button>
        <button type="button" @click="showBulkApproveModal = true;" class="button button-md primary-dark">Approve All</button>
      </div>
    {% endif %}

  </div>

  <!-- Tab Content Container with Loading Animation -->
  <div class="w-full relative shadow-sm flex-1 rounded-lg">
    <div class="flex flex-col w-full gap-2 min-h-160">
      {% render_table table %}
    </div>
    <div id="loading-spinner" role="status"
         class="htmx-indicator absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
      <div class="animate-spin rounded-full h-12 w-12 border-4 border-brand-mango border-t-transparent"></div>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <input type="hidden" name="page" value="{{ request.GET.page|default:1 }}" x-model="page" />
  <input type="hidden" name="sort" value="{{ request.GET.sort|default:'' }}" />
  {% for name, value in persisted_filters %}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
  {% endfor %}
</form>

<!--Bulk Approve Modal -->
{% url 'opportunity:reject_visits' org_slug=request.org.slug opp_id=opportunity.id as reject_url %}
{% url 'opportunity:approve_visits' org_slug=request.org.slug opp_id=opportunity.id as approve_url %}
{% include 'opportunity/bulk_approval_reject_modal.html' with modal_name="showBulkApproveModal" title=opportunity.managed|yesno:"Justification for Approval,Confirm Approval" form_action=approve_url textarea_required=opportunity.managed textarea_placeholder="Please provide a reason for approving flagged visits." textarea_name="justification" note_text="Note: Visits that are already approved will not be affected by this action." submit_btn_text="Approve" submit_btn_class="positive-dark" %}
{% include "opportunity/bulk_approval_reject_modal.html" with modal_name="showBulkRejectModal" title="Reason for Rejection" form_action=reject_url textarea_required=True textarea_placeholder="Please provide a reason for rejecting visit." textarea_name="reason" note_text="Note: Visits that are already rejected will not be affected by this action." submit_btn_text="Reject" submit_btn_class="negative-dark" %}

</div>
