{% extends "opportunity/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.pk %}">
      {{ opportunity.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">User Visits</li>
{% endblock %}

{% block content %}
  <h2 class="mb-2">User Visits for {{ user_name }}</h2>
  <hr/>
  <form method="get" x-data="" x-ref="visitFilterForm">
    {% crispy visit_filter.form %}
  </form>
  {% render_table table %}
{% endblock content %}
