{% load duration_minutes %}
{% load static %}

<div class="flex flex-col gap-6" x-data="{
    slides: [
      {% for image in user_visit.images %}
        { src: '{% url 'opportunity:fetch_attachment' org_slug=request.org.slug blob_id=image.blob_id %}' },
      {% endfor %}
    ],
    currentIndex: 0,
    modalCurrentIndex: 0,
    visibleSlides: 3,
    modalVisibleSlides: 5,
    popupOpen: false,
    messages: [{ expanded: false }],

    get visibleImages() {
        const start = this.currentIndex;
        return this.slides.slice(start, start + this.visibleSlides);
    },

    get modalThumbnails() {
        const totalSlides = this.slides.length;
        const halfVisible = Math.floor(this.modalVisibleSlides / 2);
        let start = this.modalCurrentIndex - halfVisible;

        if (start < 0) start = 0;
        if (start + this.modalVisibleSlides > totalSlides) {
            start = Math.max(0, totalSlides - this.modalVisibleSlides);
        }

        return this.slides.slice(start, Math.min(start + this.modalVisibleSlides, totalSlides));
    },

    // Carousel navigation
    nextSlide() {
        if (this.currentIndex + this.visibleSlides < this.slides.length) {
            this.currentIndex++;
        }
    },

    prevSlide() {
        if (this.currentIndex > 0) {
            this.currentIndex--;
        }
    },

    // Modal navigation
    nextModal() {
        if (this.modalCurrentIndex < this.slides.length - 1) {
            this.modalCurrentIndex++;
        }
    },

    prevModal() {
        if (this.modalCurrentIndex > 0) {
            this.modalCurrentIndex--;
        }
    },

    openPopup(index) {
        this.modalCurrentIndex = index;
        this.popupOpen = true;
    },

    closePopup() {
        this.popupOpen = false;
    },

    setModalImage(index) {
        this.modalCurrentIndex = index;
    }
}"
  hx-get="{% url "opportunity:user_visit_details" request.org.slug user_visit.opportunity_id user_visit.id %}"
  hx-swap="outerHTML"
  hx-trigger="reload_table from:body"
  hx-indicator="#visit-loading-indicator"
  hx-on:before-swap="removeMap()"
  hx-on::after-settle="loadMap()">
  <!-- Message Section -->

  {% if user_visit.reason %}
  <div class="px-4 py-3 mt-1 mb-3 border rounded-md border-gray-200 bg-slate-50">
    <div class="flex items-center gap-4">
      <i class="text-lg fa-solid fa-message text-brand-deep-purple"></i>
      <div class="flex items-center gap-1">
        <span class="text-xs text-brand-blue-light">{{ user_visit.status_modified_date }}</span>
        <span class="flex items-center text-xs text-brand-blue-light">
          <span class="mr-1 text-2xl text-brand-indigo">•</span>
          {{ user_visit.opportunity.organization.name }}
        </span>
      </div>
    </div>
    <div>
      <div class="flex items-center gap-4 mt-2">
        <i class="text-lg cursor-pointer fa-solid fa-arrows-turn-to-dots text-brand-blue-light"
           @click="message.expanded = !message.expanded"></i>
        <p class="text-xs text-brand-deep-purple">
          {{ user_visit.reason }}
        </p>
      </div>
    </div>
  </div>
  {% endif %}

  {% if user_visit.justification %}
  <div class="px-4 py-3 mt-1 mb-3 border rounded-md border-gray-200 bg-slate-50">
    <div class="flex items-center gap-4">
      <i class="text-lg fa-solid fa-message text-brand-deep-purple"></i>
      <div class="flex items-center gap-1">
        <span class="text-xs text-brand-blue-light">{{ user_visit.status_modified_date }}</span>
        <span class="flex items-center text-xs text-brand-blue-light">
          <span class="mr-1 text-2xl text-brand-indigo">•</span>
          {{ user_visit.opportunity.organization.name }}
        </span>
      </div>
    </div>
    <div>
      <div class="flex items-center gap-4 mt-2">
        <i class="text-lg cursor-pointer fa-solid fa-arrows-turn-to-dots text-brand-blue-light"
           @click="message.expanded = !message.expanded"></i>
        <p class="text-xs text-brand-deep-purple">
          {{ user_visit.justification }}
        </p>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Information -->
  <div class="grid grid-cols-3 gap-4">
    <p class="text-sm font-medium text-brand-deep-purple col-span-3">Information</p>
    <div>
      <div class="text-sm text-brand-blue-light">Payment Unit</div>
      <div class="text-sm font-normal text-brand-deep-purple">{{ user_visit.completed_work.payment_unit.name }}</div>
    </div>
    <div>
      <div class="text-sm text-brand-blue-light">Entity Name</div>
      <div class="text-sm font-normal text-brand-deep-purple">{{ user_visit.entity_name }}</div>
    </div>
    <div>
      <div class="text-sm text-brand-blue-light">Entity ID</div>
      <div class="text-sm font-normal text-brand-deep-purple">{{ user_visit.entity_id }}</div>
    </div>
  </div>

  <hr class="h-px bg-gray-200 border-0">

  <!-- Media Section -->
  {% if user_visit.images %}
  <div class="flex justify-between">
    <p class="text-sm font-medium text-brand-deep-purple">Media</p>
    <div class="flex gap-2">
      <button class="button-icon" @click="prevSlide()" :disabled="currentIndex === 0">
        <i class="cursor-pointer fa-solid fa-arrow-left"
           :class="currentIndex === 0 ? 'text-slate-200' : 'text-brand-deep-purple'"></i>
      </button>
      <button class="button-icon" @click="nextSlide()" :disabled="currentIndex + visibleSlides >= slides.length">
        <i class="cursor-pointer fa-solid fa-arrow-right"
           :class="currentIndex + visibleSlides >= slides.length ? 'text-slate-200' : 'text-brand-deep-purple'"></i>
      </button>
    </div>
  </div>

  <div class="grid grid-cols-9 gap-4 cursor-pointer values">
    <template x-for="(slide, index) in visibleImages" :key="index">
      <img :src="slide.src"
           :alt="slide.alt"
           class="object-cover col-span-3 imageopen rounded-2xl aspect-square hover:opacity-90 transition-opacity"
           @click="openPopup(index + currentIndex)"/>
    </template>
  </div>

  <hr class="h-px bg-gray-200 border-0">
  {% endif %}

  <!-- Verification Flags -->
  <div class="grid grid-cols-3 gap-4">
    <p class="text-sm font-medium text-brand-deep-purple col-span-3">Verification flags</p>
    {% if user_visit.location %}
    <div>
      <div class="text-sm text-brand-blue-light">Location</div>
      <div class="text-sm font-normal text-brand-deep-purple">Less than {{ closest_distance }} metres</div>
    </div>
    {% endif %}
    {% if user_visit.flagged %}
      {% for flag in flags %}
        <div>
          <div class="text-sm text-brand-blue-light">{{ flag.0 }}</div>
          <div class="text-sm font-normal text-brand-deep-purple">{{ flag.1 }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <div>
      <div class="text-sm text-brand-blue-light">Form Duration</div>
      <div class="text-sm font-normal text-brand-deep-purple">{{ xform.metadata.duration|duration_minutes }}</div>
    </div>
    {% if deliver_unit_flags_config.require_attachments %}
    <div>
      <div class="text-sm text-brand-blue-light">Photos</div>
      <div class="text-sm font-normal text-brand-deep-purple">{{ user_visit.images|yesno:"Yes,No" }}</div>
    </div>
    {% endif %}
  </div>

  <hr class="h-px bg-gray-200 border-0">

  <!-- Map -->
  {% if user_visit.location %}
  <div>
    <p class="mb-3 text-sm font-medium text-brand-deep-purple">Map</p>
    <div class="relative">
      <div class="w-full rounded-lg h-64" id="user-visit-map"></div>
      <div id="mapbox-menu" class="absolute top-0 left-0 m-1 inline-flex primary-light rounded-lg">
        <label class="py-1 px-2 text-sm has-checked:bg-brand-indigo has-checked:text-white rounded-lg">
          <input class="hidden" type="radio" name="options" id="streets-v12" checked> Streets
        </label>
        <label class="py-1 px-2 text-sm has-checked:bg-brand-indigo has-checked:text-white rounded-lg">
          <input class="hidden" type="radio" name="options" id="satellite-streets-v12"> Satellite
        </label>
      </div>

      <div id="legend" class="absolute right-0 top-0 bg-white/75 p-2 rounded-lg m-1">
        <h4 class="text-sm font-bold">Service Records</h4>
        <div class="text-sm"><i class="fa-solid fa-location-dot text-green-600"></i> Under review</div>
        <div class="text-sm"><i class="fa-solid fa-location-dot text-sky-600"></i> Closest from this user</div>
        <div class="text-sm"><i class="fa-solid fa-location-dot text-red-600"></i> Closest from others</div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if request.user.is_superuser %}
  <hr class="h-px bg-gray-200 border-0">

  <p class="text-sm font-medium text-brand-deep-purple">Further Information</p>
  <div class="flex">
    <a class="button button-md button-outline-rounded" href="{{ user_visit.hq_link }}">View Form in CommCareHQ <i class="fa-solid fa-arrow-right"></i></a>
  </div>
  {% endif %}

  <!-- Popup Modal -->
  <div x-cloak
       class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"
       x-show="popupOpen"
       @click.self="closePopup()"
       x-transition.opacity>
    <div class="relative max-w-lg p-4 bg-white rounded-lg popup-content">
      <div class="flex justify-between mb-2">
        <p class="text-sm font-medium text-brand-deep-purple">Media</p>
        <button class="button-icon cursor-pointer" @click="closePopup()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <!-- Main Image -->
      <div class="relative">
        <img :src="slides[modalCurrentIndex].src"
             :alt="slides[modalCurrentIndex].alt"
             class="object-contain w-full rounded-lg max-h-[60vh]"/>
        <button
          class="absolute bottom-2 right-2 button-icon">
          <a :href="slides[modalCurrentIndex].src"
             download="downloaded-image.jpg"
             aria-label="Download Image">
            <i class="fa-solid fa-download text-brand-deep-purple"></i>
          </a>
        </button>
      </div>

      <!-- Thumbnails -->
      <div class="relative w-full flex items-center justify-center gap-4 mt-4">
        <button class="absolute -left-1 z-10 px-4.5 py-2 bg-white border-2 rounded-3xl border-brand-border-light"
                @click="prevModal()"
                :disabled="modalCurrentIndex === 0"
                :class="{'opacity-50': modalCurrentIndex === 0}">
          <i class="fa-solid fa-arrow-left"></i>
        </button>

        <div class="flex justify-center gap-2 px-16 overflow-hidden">
          <template x-for="(slide, idx) in modalThumbnails" :key="idx">
            <div class="relative w-16 h-16 flex-shrink-0 cursor-pointer" @click="setModalImage(slides.indexOf(slide))">
              <img
                :src="slide.src"
                :alt="slide.alt"
                class="object-cover w-full h-full rounded-lg"
              />
              <div
                x-show="slides.indexOf(slide) === modalCurrentIndex"
                class="absolute inset-0 bg-black/40 rounded-lg pointer-events-none transition-all duration-300">
              </div>
            </div>
          </template>
        </div>


        <button class="absolute -right-1 z-10 px-4.5 py-2 bg-white border-2 rounded-3xl border-brand-border-light"
                @click="nextModal()"
                :disabled="modalCurrentIndex >= slides.length - 1"
                :class="{'opacity-50': modalCurrentIndex >= slides.length - 1}">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-end gap-4 items-center h-14 bg-white rounded-lg shadow-sm pe-2"
  x-data="{showRejectModal: false, showApproveModal: false}"
  id="visit-actions"
  hx-swap-oob="true">
{% if request.is_opportunity_pm %}
  {% if user_visit.review_created_on %}
  <div class="flex gap-4">
    <form hx-post="{% url "opportunity:user_visit_review" request.org.slug user_visit.opportunity_id %}"
      hx-swap="none">
      <input type="hidden" value="{{ user_visit.pk }}" name="pk" />
      <button class="button button-md outline-style"
        {% if user_visit.review_status != "disagree" %}value="disagree"{% else %}disabled{% endif %}
        name="review_status">
        Disagree
      </button>
      <button class="button button-md primary-dark"
        {% if user_visit.review_status != "agree" %}value="agree"{% else %}disabled{% endif %}
        name="review_status">
        Agree
      </button>
    </form>
  </div>
  {% endif %}
{% else %}
  <div>
    <button class="button button-md positive-light"
    {% if request.org_membership.is_viewer %} disabled {% else %}
    {% if user_visit.status != "approved" or user_visit.review_status == "disagree" %}
      {% if user_visit.opportunity.managed %}
      @click="showRejectModal = false; showApproveModal = true;"
      {% else %}
      hx-post="{% url "opportunity:approve_visit" org_slug=request.org.slug pk=user_visit.id %}"
      hx-swap="none"
      {% endif %}
    {% else %}
      disabled
    {% endif %}
    {% endif %}>
      Approve
    </button>
    <button class="button button-md negative-light"
    {% if request.org_membership.is_viewer %} disabled {% else %}
    {% if user_visit.status != "rejected" or user_visit.review_status == "disagree" %}
      @click="showRejectModal = true; showApproveModal = false;"
    {% else %}
      disabled
    {% endif %}
    {% endif %}>
      Reject
    </button>
  </div>

  <div x-cloak x-show="showRejectModal" x-transition.opacity class="modal-backdrop">
    <div @click.away="showRejectModal = false" x-transition class="modal">
      <div class="header flex justify-between items-center">
        <h2 class="title">Reason for Rejection</h2>
        <button @click="showRejectModal = false" class="button-icon" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form hx-post="{% url 'opportunity:reject_visits' org_slug=request.org.slug opp_id=user_visit.opportunity_id  %}"
        hx-swap="none"
        @submit="showRejectModal = false">
        {% csrf_token %}
        <div class="py-4">
          <textarea class="base-textarea" id="rejection-reason" rows="3" name="reason" id="reason"
            placeholder="Please provide a reason for rejecting visit.">{{ reason }}</textarea>
        </div>
        <input type="hidden" name="visit_ids[]" value="{{ user_visit.id }}">
        <div class="footer flex justify-end">
          <button @click="showRejectModal = false" type="button" class="button button-md outline-style">
            Close
          </button>
          <button type="submit" class="button button-md negative-dark">
            Reject
          </button>
        </div>
      </form>
    </div>
  </div>

  {% if user_visit.opportunity.managed %}
  <div x-cloak x-show="showApproveModal" x-transition.opacity class="modal-backdrop">
    <div @click.away="showApproveModal = false" x-transition class="modal">
      <div class="header flex justify-between items-center">
        <h2 class="title">Justification for Approval</h2>
        <button @click="showApproveModal = false" class="button-icon" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form hx-post="{% url "opportunity:approve_visits" org_slug=request.org.slug opp_id=user_visit.opportunity_id %}"
        hx-swap="none"
        @submit="showApproveModal = false">
        {% csrf_token %}
        <div class="py-4">
          <textarea required class="base-textarea" id="justification" rows="3" name="justification"
            placeholder="Please provide a reason for approving flagged visits.">{{ justification }}</textarea>
        </div>
        <input type="hidden" name="visit_ids[]" value="{{ user_visit.id }}">
        <div class="footer flex justify-end">
          <button @click="showApproveModal = false" type="button" class="button button-md outline-style">
            Close
          </button>
          <button type="submit" class="button button-md positive-dark">Approve</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endif %}
</div>

{{ visit_data|json_script:"visit_data" }}
{{ user_forms|json_script:"user_forms" }}
{{ other_forms|json_script:"other_forms" }}
