{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block content %}
  <nav class="mt-2 small" aria-label="breadcrumb">
    <ol class="breadcrumb bg-white fw-bold">
      <li class="breadcrumb-item">
        <a href="{% url 'opportunity:list' org_slug=request.org.slug %}">
          Opportunities
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.pk %}">
          {{ opportunity.name }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">User Visits</li>
    </ol>
  </nav>
  <h2 class="mb-2">User Visits for {{ user_name }}</h2>
  <hr/>
  {% render_table table %}
{% endblock content %}
