{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load duration_minutes %}

{% block content %}
  <div class="container">
    <nav class="mt-2 small" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'opportunity:list' org_slug=request.org.slug %}">
            Opportunities
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=visit.opportunity.id %}">
            {{ visit.opportunity.name }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'opportunity:user_visits_list' org_slug=request.org.slug opp_id=visit.opportunity.id pk=access_id %}">
            User Visits
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Visit Verification</li>
      </ol>
    </nav>
    <h2 class="mb-2">Visit of {{ visit.entity_name }}</h2>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Start Time</th>
              <td>{{ xform.metadata.timeStart }}</td>
            </tr>
            <tr>
              <th scope="row">End Time</th>
              <td>{{ xform.metadata.timeEnd }}</td>
            </tr>
            <tr>
              <th scope="row">Duration</th>
              <td>{{ xform.metadata.duration|duration_minutes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td>{{ visit.entity_name }}</td>
            </tr>
            <tr>
              <th scope="row">Identifier</th>
              <td>{{ visit.entity_id }}</td>
            </tr>
            <tr>
              <th scope="row">Current Status</th>
              <td>{{ visit.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if visit.flag_reason %}
    <h2 class="mb-2">Flags</h2>
    <div class="">
        <table class="table table-borderless">
          <tbody>
            {% for flags in visit.flag_reason.flags %}
            <tr>
              <td>{{ flags.1 }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
    {% if visit.location %}
    <h2 class="mb-2">Map</h2>
    <div id="user-visit-map" style="height: 300px; margin-bottom: 25px;" ></div>
    {% endif %}
    <a class="btn btn-success" href="{% url 'opportunity:approve_visit' org_slug=request.org.slug pk=visit.id  %}" role="button">Approve</a>
    <a class="btn btn-danger" href="{% url 'opportunity:reject_visit' org_slug=request.org.slug pk=visit.id  %}" role="button">Reject</a>
  </div>
{% endblock content %}

{% block inline_javascript %}
{{ block.super }}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
      mapboxgl.accessToken = "{{ MAPBOX_TOKEN }}";
      const map = new mapboxgl.Map({
          container: 'user-visit-map',
          style: 'mapbox://styles/mapbox/satellite-streets-v12',
          center: [{{ visit_lon }}, {{ visit_lat }}],
          zoom: 9,
      });
      new mapboxgl.Marker({"color": "green"})
          .setLngLat([{{ visit_lon }}, {{ visit_lat }}])
          .setPopup(new mapboxgl.Popup().setHTML("{{visit.entity_name}}"))
          .addTo(map);
      userForms = {{ user_forms|safe }}
      userForms.forEach(loc => {
          marker = new mapboxgl.Marker()
              .setLngLat([loc[3], loc[2]])
              .setPopup(new mapboxgl.Popup().setHTML(loc[0]["entity_name"]))
              .addTo(map);
      })
      otherForms = {{ other_forms|safe }}
      otherForms.forEach(loc => {
          marker = new mapboxgl.Marker({"color": "red"})
              .setLngLat([loc[3], loc[2]])
              .setPopup(new mapboxgl.Popup().setHTML(loc[0]["entity_name"]))
              .addTo(map);
      })
  })
</script>
{% endblock %}
