{% extends "opportunity/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load duration_minutes %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'opportunity:detail' org_slug=request.org.slug pk=visit.opportunity.id %}">
      {{ visit.opportunity.name }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a
      href="{% url 'opportunity:user_visits_list' org_slug=request.org.slug opp_id=visit.opportunity.id pk=access_id %}">
      User Visits
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Visit Verification</li>
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mb-2">Visit of {{ visit.entity_name }}</h2>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Start Time</th>
              <td>{{ xform.metadata.timeStart }}</td>
            </tr>
            <tr>
              <th scope="row">End Time</th>
              <td>{{ xform.metadata.timeEnd }}</td>
            </tr>
            <tr>
              <th scope="row">Duration</th>
              <td>{{ xform.metadata.duration|duration_minutes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>{{ visit.entity_name }}</td>
          </tr>
          <tr>
            <th scope="row">Identifier</th>
            <td>{{ visit.entity_id }}</td>
          </tr>
          <tr>
            <th scope="row">Current Status</th>
            <td>{{ visit.status }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if visit.flag_reason %}
    <h2 class="mb-2">Flags</h2>
    <div class="">
      <table class="table table-borderless">
        <tbody>
        {% for flags in visit.flag_reason.flags %}
          <tr>
            <td>{{ flags.1 }} </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if visit.location %}
    <h2 class="mb-2">Map</h2>
    <div id="map-container" style="position: relative">
    <div id="user-visit-map" style="height: 300px; margin-bottom: 25px;" ></div>
    <div id="menu" class="btn-group btn-group-toggle" data-toggle="buttons" style="position: absolute; top: 0; left: 0;">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="streets-v12" autocomplete="off" checked> Streets
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="satellite-streets-v12" autocomplete="off"> Satellite
      </label>
    </div>
    </div>
    {% endif %}
    {% if visit.images %}
    <h2 class="mb-2">Images</h2>
    <dl>
      {% for image in visit.images %}
      <dd ><img style="max-width: 100%; max-height: 500px;" src=" {% url 'opportunity:fetch_attachment' org_slug=request.org.slug blob_id=image.blob_id  %}"/></dd>
      {% endfor %}
    </dl>
    {% endif %}
    <div id="action-buttons" style="margin-bottom: 25px;">
    <a class="btn btn-success" href="{% url 'opportunity:approve_visit' org_slug=request.org.slug pk=visit.id  %}" role="button">Approve</a>
    <a class="btn btn-danger" href="{% url 'opportunity:reject_visit' org_slug=request.org.slug pk=visit.id  %}" role="button">Reject</a>
    </div>
  </div>
{% endblock content %}

{% block inline_javascript %}
{{ block.super }}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function() {
      mapboxgl.accessToken = "{{ MAPBOX_TOKEN }}";
      const map = new mapboxgl.Map({
          container: 'user-visit-map',
          style: 'mapbox://styles/mapbox/streets-v12',
          center: [{{ visit_lon }}, {{ visit_lat }}],
          zoom: 16,
      });
      circles = []
      marker = new mapboxgl.Marker({"color": "green"})
          .setLngLat([{{ visit_lon }}, {{ visit_lat }}])
          .setPopup(new mapboxgl.Popup().setHTML(
              `
              <table><tbody>
              <tr><th>Name</th><td>{{visit.entity_name}}</td></tr>
              <tr><th>User</th><td>{{visit.user__name}}</td></tr>
              <tr><th>Date</th><td>{{visit.visit_date}}</td></tr>
              <tr><th>Status</th><td>{{visit.get_status_display}}</td></tr>
              </tbody></table>
              `
          ))
          .addTo(map);
      marker.getElement().onmouseenter = (event) => {
          map.setLayoutProperty(
              'circles',
              'visibility',
              'visible'
          );
      };
      marker.getElement().onmouseleave = (event) => {
          map.setLayoutProperty(
              'circles',
              'visibility',
              'none'
          );
      };
      circles.push(circle([{{ visit_lon }}, {{ visit_lat }}], {{ visit_precision }}, {units: 'meters'}))
      {% for visit in user_forms %}
      marker = new mapboxgl.Marker({"scale": 0.75})
          .setLngLat([{{ visit.3 }}, {{ visit.2 }}])
          .setPopup(new mapboxgl.Popup().setHTML(
              `
                  <table><tbody>
                  <tr><th>Name</th><td>{{visit.0.entity_name}}</td></tr>
                  <tr><th>User</th><td>{{visit.0.user__name}}</td></tr>
                  <tr><th>Date</th><td>{{visit.0.visit_date}}</td></tr>
                  <tr><th>Status</th><td>{{visit.0.get_status_display}}</td></tr>
                  </tbody></table>
                  <a href="{% url 'opportunity:visit_verification' org_slug=request.org.slug pk=visit.0.pk %}">View Form</a>
                  `
          ))
          .addTo(map);
     marker.getElement().onmouseenter = (event) => {
         map.setLayoutProperty(
             'circles',
             'visibility',
             'visible'
         );
      };
      marker.getElement().onmouseleave = (event) => {
          map.setLayoutProperty(
              'circles',
              'visibility',
              'none'
          );
      };
      circles.push(circle([{{ visit.3 }}, {{ visit.2 }}], {{ visit.4}}, {units: 'meters'}))
      {% endfor %}
      {% for visit in other_forms %}
      new mapboxgl.Marker({"color": "red", "scale": 0.75})
          .setLngLat([{{ visit.3 }}, {{ visit.2 }}])
          .setPopup(new mapboxgl.Popup().setHTML(
              `
                  <table><tbody>
                  <tr><th>Name</th><td>{{visit.0.entity_name}}</td></tr>
                  <tr><th>User</th><td>{{visit.0.user__name}}</td></tr>
                  <tr><th>Date</th><td>{{visit.0.visit_date}}</td></tr>
                  <tr><th>Status</th><td>{{visit.0.get_status_display}}</td></tr>
                  </tbody></table>
                  <a href="{% url 'opportunity:visit_verification' org_slug=request.org.slug pk=visit.0.pk %}">View Form</a>
                  `
          ))
          .addTo(map);
     marker.getElement().onmouseenter = (event) => {
         map.setLayoutProperty(
             'circles',
             'visibility',
             'visible'
         );
      };
      marker.getElement().onmouseleave = (event) => {
          map.setLayoutProperty(
              'circles',
              'visibility',
              'none'
          );
      };
      circles.push(circle([{{ visit.3 }}, {{ visit.2 }}], {{ visit.4}}, {units: 'meters'}))
      {% endfor %}

      map.on('style.load', () => {
          map.addLayer({
              "id": "circles",
              "type": "fill",
              "source": {
                  "type": "geojson",
                  "data": {
                      "type": "FeatureCollection",
                      "features": circles,
                  }
              },
              "layout": {
                  "visibility": "none"
              },
              "paint": {
                  "fill-antialias": true,
                  "fill-opacity": 0.3,
                  "fill-color": "yellow",
                  "fill-outline-color": "#000",
              }
          });
      })

      const styleList = document.getElementById('menu');
      const inputs = styleList.getElementsByTagName('input');

      for (const input of inputs) {
          input.onclick = (click) => {
              const styleId = click.target.id;
              map.setStyle('mapbox://styles/mapbox/' + styleId);
          };
      }
  })
</script>
{% endblock %}
