{% extends "opportunity/worker_list_base.html" %}
{% load i18n %}

{% block tab_options %}
  <div id="worker-tab-options">
    <button type="button" class="button-icon" @click="showWorkerExportModal = true"
            {% if request.org_membership.is_viewer %} disabled {% endif %}
    >
      <i class="fa-solid fa-download text-brand-deep-purple"></i>
    </button>
    {% block modals %}
        {% url 'opportunity:user_status_export' org_slug=request.org.slug opp_id=opportunity.pk as user_status_export_url %}
        {% include "components/worker_page/export_modal.html" with modal_name="showWorkerExportModal" modal_title=_("Export Connect Workers") export_url=user_status_export_url export_form=export_form %}
        {% include "components/worker_page/delete_invites_confirm_modal.html" with modal_name="showConfirmDeleteInvitesModal" modal_title=_("Delete Selected Invites") %}
    {% endblock %}
    {% if request.org_membership.is_viewer %}
      <button disabled class="button-icon">
        <i class="fa-solid fa-plus"></i>
      </button>
    {% else %}
      <a href="{% url 'opportunity:user_invite' request.org.slug opportunity.id %}" class="button-icon" x-tooltip.raw="{% trans 'Add Worker' %}">
        <i class="fa-solid fa-plus"></i>
      </a>
    {% endif %}
    <form hx-post="{% url 'opportunity:resend_user_invites' org_slug=request.org.slug opp_id=opportunity.pk %}"
          hx-trigger="submit"
          hx-on::after-request="if(event.detail.xhr.status >= 400) { alert ('{% trans "Oops! Something went wrong. Please try again or contact support." %}') }"
          class="inline">
      {% csrf_token %}
      <template x-for="id in selected">
        <input type="hidden" name="user_invite_ids" :value="id">
      </template>
      <button type="submit"
              class="button-icon"
              :disabled="{% if request.org_membership.is_viewer %}true{% else %}selected.length === 0{% endif %}"
              x-tooltip.raw="{% trans 'Resend Invite(s)' %}">
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    </form>
    <button type="button"
            class="button button-md bg-red-600 text-white"
            @click="showConfirmDeleteInvitesModal = true"
            :disabled="{% if request.org_membership.is_viewer %}true{% else %}selected.length === 0{% endif %}">
      <i class="fa-solid fa-trash"></i>
      <span x-text="selected.length > 0 ? `{% trans 'Delete Invite(s)' %} (${selected.length})` : `{% trans 'Delete Invite(s)' %}`"></span>
    </button>
  </div>
{% endblock %}
