AWS_DEFAULT_REGION={{ aws_region }}
DJANGO_ACCOUNT_ALLOW_REGISTRATIONS={{ django_allow_registrations }}
CONNECTID_URL={{ connectid_url }}
DJANGO_ADMIN_URL={{ django_admin_url }}
DJANGO_EMAIL_BACKEND={{ django_email_backend }}
SENTRY_ENVIRONMENT={{ sentry_environment }}

# Secrets
CELERY_BROKER_URL={{ secrets.celery_broker_url }}
CSRF_TRUSTED_ORIGINS={{ secrets.csrf_trusted_origins }}
cid_client_secret={{ secrets.cid_client_secret }}
cid_client_id={{ secrets.cid_client_id }}
DJANGO_ALLOWED_HOSTS={{ secrets.django_allowed_hosts|join(",") }}
DJANGO_ALLOWED_CIDR_NETS={{ secrets.django_allowed_cidr_nets|join(",") }}
DJANGO_AWS_STORAGE_BUCKET_NAME={{ secrets.django_aws_storage_bucket_name }}
DJANGO_DEFAULT_FROM_EMAIL={{ secrets.django_default_from_email }}
DJANGO_SECRET_KEY={{ secrets.django_secret_key }}
REDIS_URL={{ secrets.redis_url }}
SENTRY_DSN={{ secrets.sentry_dsn }}
RDS_HOSTNAME={{ secrets.rds_hostname }}
RDS_PORT={{ secrets.rds_port }}
RDS_DB_NAME={{ secrets.rds_db_name }}
RDS_USERNAME={{ secrets.rds_username }}
RDS_PASSWORD={{ secrets.rds_password }}
