CELERY_BROKER_URL=redis://localhost:6379/0
REDIS_URL=redis://localhost:6379/0
DATABASE_URL=postgres://postgres:postgres@localhost:5432/commcare_connect
DJANGO_ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
COMMCARE_HQ_URL=https://www.commcarehq.org
COMMCAREHQ_OAUTH_CLIENT_ID=
COMMCAREHQ_OAUTH_SECRET=
CONNECTID_URL=
cid_client_id=
cid_client_secret=
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_MESSAGING_SERVICE=
MAPBOX_TOKEN=
OPEN_EXCHANGE_RATES_API_ID=
