files:
    "/etc/systemd/system/celery.service":
        mode: "000644"
        owner: celery
        group: celery
        content: |
            [Unit]
            Description=Celery Service
            After=network.target
            StartLimitInterval=0

            [Service]
            Type=simple
            Restart=on-failure
            RestartSec=10
            User=celery
            Group=celery
            EnvironmentFile=/opt/elasticbeanstalk/deployment/env
            WorkingDirectory=/var/app/current
            ExecStart=/bin/sh -c '${PYTHONPATH}/celery multi start worker \
              -A ${CELERY_APP} --loglevel=INFO --time-limit=300 --concurrency=2'
            ExecStop=/bin/sh -c '${PYTHONPATH}/celery multi stopwait worker'
            ExecReload=/bin/sh -c '${PYTHONPATH}/celery multi restart worker \
              -A ${CELERY_APP} --loglevel=INFO --time-limit=300 --concurrency=2'

            [Install]
            WantedBy=multi-user.target
    "/etc/tmpfiles.d/celery.conf":
        mode: "000755"
        owner: celery
        group: celery
        content: |
            d /var/run/celery 0755 celery celery -
            d /var/log/celery 0755 celery celery -

container_commands:
    01_create_celery_log_file_directories:
        command: mkdir -p /var/log/celery /var/run/celery
    02_give_celery_user_ownership_of_directories:
        command: chown -R celery:celery /var/log/celery /var/run/celery
    03_change_mode_of_celery_directories:
        command: chmod -R 755 /var/log/celery /var/run/celery
    04_reload_settings:
        command: systemctl daemon-reload
