container_commands:
  01_install_node:
    test: "[ ! -f /usr/bin/node ] && echo 'node not installed'"
    command: |
      curl -sL https://rpm.nodesource.com/setup_18.x | sudo bash -
      yum install -y nodejs
  02_npm_install:
    command: npm ci
  03_build_static:
    command: npm run build
  04_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  05_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --no-input"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.staging
