{% if skeleton %}
<!-- Skeleton Loader with HTMX call -->
<div
  id="opp-stats-container"
  hx-get="{% url 'opportunity:delivery_stats' request.org.slug object.id %}"
  hx-trigger="load"
  hx-target="#opp-stats-container"
  hx-swap="innerHTML"
>
  <div class="flex flex-row flex-wrap gap-4 p-4 rounded-t-lg bg-white animate-pulse">
    {% for _ in "123" %}
    <div class="w-fit flex-1 flex flex-col gap-4">
      <div class="flex flex-row items-center gap-2">
        <div class="flex-1 h-4 bg-gray-200 rounded"></div>
        <div class="h-3 w-20 bg-gray-200 rounded"></div>
      </div>
      {% for _ in "12" %}
      <div class="flex gap-2 rounded-lg p-4 items-center bg-brand-indigo">
        <div class="w-10 h-10 rounded-md bg-gray-300 flex items-center justify-center">
          <div class="w-4 h-4 bg-gray-200 rounded"></div>
        </div>
        <div class="flex-1 space-y-1">
          <div class="h-3 w-20 bg-gray-200 rounded"></div>
          <div class="h-4 w-24 bg-gray-300 rounded"></div>
        </div>
        <div class="h-6 w-10 bg-gray-200 rounded"></div>
        <div class="ml-2 h-5 w-10 bg-green-300 rounded-full"></div>
        <div class="h-4 w-4 bg-gray-200 rounded"></div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<!-- Actual Delivery Stats UI -->
<div class="flex flex-row flex-wrap gap-4 p-4 rounded-t-lg bg-white">
  {% for stat in opp_stats %}
  <div class="w-fit flex-1 flex flex-col gap-4">
    <div class="flex flex-row items-center">
      <h3 class="flex-1 text-base font-medium text-brand-deep-purple">{{ stat.title }}</h3>
      <p class="text-brand-deep-purple text-xs font-medium">
        <span class="font-normal">{{ stat.sub_heading }}</span> {{ stat.value }}
      </p>
    </div>
    {% for panel in stat.panels %}
    <a href="{{ stat.url }}">
      <div class="flex gap-2 rounded-lg p-4 items-center bg-brand-indigo {{ panel.body }}">
        <div class="w-10 h-10 flex items-center justify-center text-white rounded-md {{ panel.icon_bg }}">
          <i class="fa-light {{ panel.icon }}"></i>
        </div>
        <div class="flex-1">
          <h3 class="text-xs text-white {{ panel.text_color }}">{{ panel.name }}</h3>
          <p class="text-sm text-white {{ panel.text_color }}">{{ panel.status }}</p>
        </div>
        <h3 class="text-2xl font-medium text-white {{ panel.text_color }}">
          {{ panel.value }}
        </h3>
        {% if panel.incr %}
        <span class="badge badge-md positive-dark">{{ panel.incr }} ↑</span>
        {% endif %}
        <div>
          <i class="fa-light fa-arrow-up-right text-brand-sky text-lg {{ panel.text_color }}"></i>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endif %}
