{% extends "tailwind/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'tailwind/components/breadcrumbs.html' with path=path %}

<div class="flex flex-col w-full gap-2" x-data="opportunityTabs()" x-init="init()">
  <!-- Tabs -->
  <div class="flex relative mx-auto items-center justify-between w-full px-4 bg-slate-50 rounded-lg shadow-sm h-14">
    <ul class="tabs">
      {% for tab in tabs %}
      <li
        @click="setTab('{{ tab.key }}')"
        id="{{ tab.key }}-tab"
        data-url="{{ tab.url }}"
        :class="{ 'active': selectedTab === '{{ tab.key }}' }"
      >
        <span>{{ tab.label }}</span>
        <div x-show="selectedTab === '{{ tab.key }}'"></div>
      </li>
      {% endfor %}
    </ul>
    <div class="flex justify-end gap-2">
    <!-- Tab Options -->
    <div x-show="selectedTab === 'workers'" class="flex gap-x-4 items-center">
      <button type="button" class="button-icon" @click="showWorkerExportModal = true">
        <i class="fa-light fa-download text-brand-deep-purple"></i>
      </button>
      <!-- Todo; update user invite to new view -->
      <a href="{% url 'opportunity:user_invite' request.org.slug opportunity.id %}" class="button button-md outline-style">
        Add Worker
      </a>
    </div>

    <div x-show="selectedTab === 'delivery'" class="flex gap-x-4">
      <button type="button" @click="showVisitImportModal = true" class="button-icon">
        <i class="fa-light fa-upload text-brand-deep-purple"></i>
      </button>
      <button type="button" class="button-icon" @click="showVisitExportModal = true">
        <i class="fa-light fa-download text-brand-deep-purple"></i>
      </button>
    </div>

    <div x-show="selectedTab === 'payments'" class="flex gap-x-4">
      <button type="button" class="button-icon"  @click="showPaymentImportModal= true" >
        <i class="fa-light fa-upload text-brand-deep-purple"></i>
      </button>
      <button type="button" class="button-icon" @click="showPaymentExportModal = true" >
        <i class="fa-light fa-download text-brand-deep-purple"></i>
      </button>
    </div>

    {% if export_task_id %}
      <div class="flex">
        <div
          hx-get="{% url 'opportunity:export_status' request.org.slug export_task_id %}"
          hx-target="this"
          hx-trigger="load"
          hx-swap="outerHTML"
          class="flex items-center justify-center"
        >
          <div class="animate-spin rounded-full h-6 w-6 border-t-2 border-b-2 border-blue-500"></div>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    {% endif %}
  </div>
    </div>

  <!-- Tab Content Container -->
  <div
    id="opportunity_worker_container"
    class="w-full"
  ></div>


  {% url 'opportunity:user_status_export' org_slug=request.org.slug pk=opportunity.pk as user_status_export_url %}
  {% include "tailwind/components/worker_page/export_modal.html" with modal_name="showWorkerExportModal" modal_title=_("Export Workers") export_url=user_status_export_url export_form=export_form %}

  {% include "tailwind/components/worker_page/export_modal.html" with modal_name="showVisitExportModal" modal_title=_("Export Workers") export_url=import_export_delivery_urls.export_url export_form=visit_export_form %}

  {% url 'opportunity:payment_export' org_slug=request.org.slug pk=opportunity.pk as payment_export_url %}
  {% include "tailwind/components/worker_page/export_modal.html" with modal_name="showPaymentExportModal" modal_title=_("Export Workers") export_url=payment_export_url export_form=export_form %}

  {% url 'opportunity:visit_import' request.org.slug opportunity.pk as visit_import_url %}
  {% include "tailwind/components/worker_page/import_modal.html" with modal_name="showVisitImportModal" modal_title=_("Import Verified Visits") export_url=import_export_delivery_urls.import_url input_name="visits" input_help_text=_('The file must contain at least the "Visit ID" and "Status" column. The import is case-insensitive.') %}

  {% url 'opportunity:payment_import' request.org.slug opportunity.pk as payment_import_url %}
  {% include "tailwind/components/worker_page/import_modal.html" with modal_name="showPaymentImportModal" modal_title=_("Import Payment Records") import_url=payment_import_url input_name="payments" input_help_text=_('The file must contain at least the "Username", "Amount" and "Payment Date" columns.') %}


</div>
{% endblock content %}


{% block inline_javascript %}
{{ block.super }}
<!-- Alpine Tabs Script -->
<script>
function opportunityTabs() {
  return {
    selectedTab: '',
    selectedOption: '',
    showWorkerExportModal: false,
    showVisitExportModal: false,
    showVisitImportModal: false,
    showPaymentImportModal: false,
    showPaymentExportModal: false,
    init() {
      const urlParams = new URLSearchParams(window.location.search);
      const tab = urlParams.get('active_tab') || 'workers';
      this.setTab(tab, true);
    },
    setTab(tab, updateUrl = true) {
      this.selectedTab = tab;
      this.selectedOption = '';

      if (updateUrl) {
        const url = new URL(window.location.href);
        url.searchParams.set('active_tab', tab);
        window.history.replaceState({}, '', url);
      }

      this.$nextTick(() => {
        const tabElement = document.querySelector(`#${tab}-tab`);
        const container = document.querySelector('#opportunity_worker_container');
        const url = tabElement?.dataset?.url;
        if (url && container) {
          htmx.ajax('GET', url, {
            target: container,
            swap: 'innerHTML',
          });
        }
      });
    }
  };
}
</script>
{% endblock inline_javascript %}
