{% load static %}
{# see https://realfavicongenerator.net #}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static "images/favicons/favicon-96x96.png" %}">
<link rel="icon" type="image/svg+xml" href="{% static "images/favicons/favicon.svg" %}">
<link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
<link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
