{% extends "program/base.html" %}
{% load static %}
{% load i18n %}
{% load sort_link %}
{% load django_tables2 %}
{% block title %}{{ request.org }} - Programs{% endblock %}

{% block breadcrumbs_inner %}
{{ block.super }}
<li class="breadcrumb-item" aria-current="page">{{ program.name }}</li>
<li class="breadcrumb-item active">{% translate "Applications" %}</li>
{% endblock %}
{% block content %}
<div class="container bg-white shadow">
  <div class="mt-5 py-3">
    <h1> Applications
      <span class="float-end">
          <button data-bs-toggle="modal" data-bs-target="#inviteOrganizationsModal" class="btn btn-primary">
            <a class="dropdown-item">
              <i class="bi bi-building-fill-add pe-2"></i>{% translate "Invite" %}
            </a>
          </button>
        </span>
    </h1>
  </div>
  <div class="pb-4">
    {% render_table table %}
  </div>
</div>


<!-- Managed opportunity invite modal -->
<div class="modal fade" id="inviteOrganizationsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white">{% translate "Invite Organizations" %}</h1>
        <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "program:invite_organization" org_slug=request.org.slug pk=pk %}" method="post">
      <div class="modal-body">
        <div class="mb-3">
          {% csrf_token %}
          <label for="organization" class="form-label">{% translate "Organization" %}</label>
          <select class="form-select" id="organization" name="organization" required>
            {% for org in organizations %}
            <option value="{{ org.slug }}">{{ org.name }}</option>
            {% endfor %}
          </select>
          <div class="col-auto mt-2">
              <span id="organizationHelp" class="form-text">
                {% blocktrans %}
                  Select the organization you want to invite.
                {% endblocktrans %}
              </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"><i class="bi bi-envelope"></i> Invite</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
