{% extends "base.html" %}

{% block breadcrumbs %}
<nav class="mt-2 small" aria-label="breadcrumb">
  <ol class="breadcrumb bg-white fw-bold">
    <li class="breadcrumb-item">
      <a href="{% url 'program:home' org_slug=request.org.slug %}">
        Programs
      </a>
    </li>
    {% block breadcrumbs_inner %}{% endblock %}
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-6 offset-md-3 p-4 rounded bg-white shadow ">
    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}
