{% extends "program/base.html" %}
{% load static %}
{% load i18n %}
{% load django_tables2 %}
{% block title %}{{ request.org }} - Programs{% endblock %}

{% block breadcrumbs_inner %}
{{ block.super }}
<li class="breadcrumb-item" aria-current="page">{{ program.name }}</li>
<li class="breadcrumb-item active">{% translate "Dashboard" %}</li>
{% endblock %}
{% block content %}
<div class="container bg-white shadow pb-2">
  <div class="mt-5 py-3">
    <h1> Dashboard</h1>
  </div>
  <section class="mt-4 shadow mb-5">
    <ul class="nav nav-tabs fw-bold bg-primary-subtle" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="funnel-performance-tab" data-bs-toggle="tab"
                data-bs-target="#funnel-performance-tab-pane"
                type="button" role="tab" aria-controls="funnel-performance" aria-selected="true">
          <i class="bi bi-filter-square"></i> {% trans "Funnel Performance" %}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="delivery-performance-tab" data-bs-toggle="tab"
                data-bs-target="#delivery-performance-tab-pane"
                type="button" role="tab" aria-controls="delivery-performance" aria-selected="false">
          <i class="bi bi-journal-text"></i> {% trans "Delivery Performance" %}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="worker-performance-tab" data-bs-toggle="tab"
                data-bs-target="#worker-performance-tab-pane"
                type="button" role="tab" aria-controls="worker-performance-tab-pane" aria-selected="false">
          <i class="bi bi-person-lines-fill"></i> {% trans "Worker Performance" %}
        </button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="funnel-performance-tab-pane" role="tabpanel"
           aria-labelledby="funnel-performance-tab"
           tabindex="0" hx-on::after-request="refreshTooltips()">
        <div class="pb-4" id="funnel-performance-table-containers"
             hx-get="{% url 'program:funnel_performance_table' request.org.slug program.id %}" hx-trigger="load"
             hx-swap="outerHTML">
          {% include "tables/table_placeholder.html" with num_cols=6 %}
        </div>
      </div>
      <div class="tab-pane fade show active" id="delivery-performance-tab-pane" role="tabpanel"
           aria-labelledby="funnel-performance-tab"
           tabindex="0" hx-on::after-request="refreshTooltips()">
        <div class="pb-4" id="delivery-performance-table-containers"
             hx-get="{% url 'program:delivery_performance_table' request.org.slug program.id %}" hx-trigger="load"
             hx-swap="outerHTML">
          {% include "tables/table_placeholder.html" with num_cols=7 %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
