{% extends "opportunity/base.html" %}
{% load static %}
{% load i18n %}
{% load sort_link %}

{% block title %}{{ request.org }} - Opportunities{% endblock %}

{% block breadcrumbs_inner %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page"><a
  href="{% url 'opportunity:detail' org_slug=request.org.slug pk=opportunity.id %}">{{ opportunity.name }}</a></li>
<li class="breadcrumb-item">Applications</li>
{% endblock %}
{% block content %}
<div class="container bg-white shadow">
  <div class="mt-5 py-3">
    <h1> Applications
      <span class="float-end">
          <button data-bs-toggle="modal" data-bs-target="#inviteOrganizationsModal" class="btn btn-primary">
            <a class="dropdown-item">
              <i class="bi bi-building-fill-add pe-2"></i>{% translate "Invite" %}
            </a>
          </button>
        </span>
    </h1>
  </div>
  <div class="pb-4">
    <table class="table border table-responsive">
      <thead class="table-light">
      <tr>
        <th>Organization name</th>
        <th>Created by</th>
        <th>Last updated</th>
        <th>Status</th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody x-ref="tbody">
      {% for application in page_obj %}
      <tr>
        <td>{{ application.organization.slug }}</td>
        <td>{{ application.created_by }}</td>
        <td>{{application.date_modified}}</td>
        <td>
          {% if application.status == 'invited' %}
          <span class="badge bg-primary rounded-pill">{{ application.status|capfirst }}</span>
          {% elif application.status == 'applied' %}
          <span class="badge bg-warning rounded-pill">{{ application.status|capfirst }}</span>
          {% elif application.status == 'accepted' %}
          <span class="badge bg-success rounded-pill">{{ application.status|capfirst }}</span>
          {% elif application.status == 'rejected' %}
          <span class="badge bg-danger rounded-pill">{{ application.status|capfirst }}</span>
          {% endif %}
        </td>
         <td>
          {% if application.status == 'applied' %}
          <a class="btn btn-success btn-sm"
             href="{% url 'program:manage_application' org_slug=request.org.slug application_id=application.id action='accept' %}">
            <span class="bi bi-check-circle-fill"></span><span class="d-none d-md-inline">&nbsp;Accept</span>
          </a>
          <a class="btn btn-danger btn-sm"
             href="{% url 'program:manage_application' org_slug=request.org.slug application_id=application.id action='reject' %}">
            <span class="bi bi-x-square-fill"></span><span class="d-none d-md-inline">&nbsp;Reject</span>
          </a>
          {% else %}
          <button class="btn btn-success btn-sm" disabled>
            <span class="bi bi-check-circle-fill"></span><span class="d-none d-md-inline">&nbsp;Accept</span>
          </button>
          <button class="btn btn-danger btn-sm" disabled>
            <span class="bi bi-x-square-fill"></span><span class="d-none d-md-inline">&nbsp;Reject</span>
          </button>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No applications yet.</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include 'pagination.html' %}
  </div>
</div>


<!-- Managed opportunity invite modal -->
<div class="modal fade" id="inviteOrganizationsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white">{% translate "Invite Organizations" %}</h1>
        <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url "program:invite_organization" org_slug=request.org.slug pk=pk opp_id=opportunity.id %}" method="post">
      <div class="modal-body">
        <div class="mb-3">
          {% csrf_token %}
          <label for="organization" class="form-label">{% translate "Organization" %}</label>
          <select class="form-select" id="organization" name="organization" required>
            {% for org in organizations %}
            <option value="{{ org.slug }}">{{ org.name }}</option>
            {% endfor %}
          </select>
          <div class="col-auto mt-2">
              <span id="organizationHelp" class="form-text">
                {% blocktrans %}
                  Select the organization you want to invite.
                {% endblocktrans %}
              </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"><i class="bi bi-envelope"></i> Invite</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
