{% extends 'program/program_base.html' %}
{% load i18n %}

{% block inner %}
  <div class="flex flex-col gap-4">
    {% for program in programs %}
        <div class="flex flex-col p-6 rounded-xl shadow-sm bg-white gap-5 relative"
             x-data="{ showOpp: false, status: '{{ program.status }}' }">
        <div class="absolute w-8 bg-brand-mango h-2 top-0 -translate-y-1/2 left-6 rounded-full"></div>
        <div class="flex w-full justify-between">
          <!-- program details -->
          <div class="flex items-center gap-2 font-normal">
            {% if program.status == 'invited' %}
              <div class="h-2 w-2 bg-brand-marigold rounded-full"></div>
            {% elif program.status == 'applied' %}
              <div class="h-2 w-2 bg-brand-deep-purple rounded-full"></div>
            {% elif program.status == 'accepted' %}
              <div class="h-2 w-2 bg-green-600 rounded-full"></div>
            {% endif %}
            <p class="hint">{{ program.organization.name }}</p>
          </div>

          <!-- invitataion status -->
          <div class="flex items-center justify-end gap-6">
            {% if program.status %}
              <span class="badge badge-md"
                    :class="{
                      'warning-dark': status == 'invited',
                      'primary-dark': status == 'applied',
                      'positive-dark': status == 'accepted'
                    }"
                    x-text="status"></span>
            {% endif %}
          </div>
        </div>

        <div class="w-full">
          <p class="card_title">{{ program.name }}</p>
          <p class="card_description w-full max-w-1/2">{{ program.description }}</p>
        </div>

        <div class="infocard-dark">
            <i class="fa-solid fa-file-circle-check"></i>
            <div>
                <h6>{% translate "Delivery Type" %}</h6>
                <p>{{ program.delivery_type.name }}</p>
            </div>
        </div>

        <div class="flex justify-between items-center">
          <!-- program info -->
          <div class="flex items-center gap-6">
              <div class="infocard-dark">
                  <i class="fa-solid fa-calendar-check"></i>
                  <div>
                      <h6>{% translate "Start Date" %}</h6>
                      <p>{{ program.start_date }}</p>
                  </div>
              </div>
              <div class="infocard-dark">
                  <i class="fa-solid fa-arrow-right text-brand-mango"></i>
                  <div>
                      <h6>{% translate "End Date" %}</h6>
                      <p>{{ program.end_date }}</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="flex flex-row-reverse">
        {% if program.status == 'invited' %}
          <button {% if request.org_membership.is_admin %}
                  hx-post="{% url "program:apply_or_decline_application" request.org.slug program.id program.application_id "apply" %}"
                  hx-swap="outerHTML"
                  hx-target="body"
                  {% else %}
                  disabled
                  {% endif %}
                class="button button-sm primary-dark">
              <i class="fa-solid fa-circle-plus text-white"></i> {% translate "Apply to Program" %}
          </button>
        {% elif program.status == 'applied' %}
          <button class="button button-sm neutral lg:self-end" disabled>
              <i class="fa-solid fa-circle-check text-green-600"></i> {% translate "Apply to Program" %}
          </button>
        {% elif program.status == 'accepted' %}
          {% if program.managed_opportunities_for_org %}
            <button class="button button-sm outline-style w-full" @click="showOpp = !showOpp">
              <span class="relative z-20" x-text="showOpp ? '{% translate "Hide Opportunities" %}' : '{% translate "View Opportunities" %}'"></span>
              <i class="fa-solid text-xs" :class="showOpp ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </button>
          {% endif %}
        {% endif %}
        </div>

        {% if program.status == 'accepted' %}
          {% if program.managed_opportunities_for_org %}
            <div id="opportunity-container" class="flex flex-col gap-y-4 py-4" style="display:none;" x-cloak x-show="showOpp">
              {% for opportunity in program.managed_opportunities_for_org %}
                <div class="relative flex flex-col gap-5 p-6 bg-white rounded-xl border border-gray-200">
                  <div class="flex justify-between w-full">
                    <div class="flex flex-col gap-5 w-1/2">
                      <div class="flex items-center gap-2 font-normal">
                        <div class="w-2 h-2 bg-green-600 rounded-full"></div>
                        <p class="hint">{{ opportunity.organization.name }}</p>
                      </div>
                      <div>
                        <p class="card_title">{{ opportunity.name }}</p>
                        <p class="card_description">{{ opportunity.description }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-center justify-between">
                    <div class="flex items-center gap-6">
                      <div class="infocard-dark">
                          <i class="fa-solid fa-calendar-check"></i>
                          <div>
                              <h6>Start Date</h6>
                              <p>{{opportunity.start_date}}</p>
                          </div>
                      </div>
                      <div class="infocard-dark">
                          <i class="fa-solid fa-arrow-right text-brand-mango"></i>
                          <div>
                              <h6>End Date</h6>
                              <p>{{opportunity.end_date}}</p>
                          </div>
                      </div>
                    </div>
                    <a class="button button-md button-outline-rounded" href="{% url "opportunity:detail" request.org.slug opportunity.id %}">
                      <div class="flex items-center justify-between gap-4">
                        <p class="text-sm">{% translate "View" %}</p>
                        <i class="fa-solid fa-arrow-right"></i>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
