{% extends 'program/base_home.html' %}
{% load i18n %}

{% block inner %}
<div x-data="{showProgramEditModal: false, showInviteModal: false}">
  <div class="flex flex-col gap-4">
    {% for program in programs %}
      <div class="flex flex-col p-6 rounded-xl shadow-sm bg-white gap-5 relative" x-data="{showOpp: false}">
        <div class="absolute w-8 bg-brand-mango h-2 top-0 -translate-y-1/2 left-6 rounded-full"></div>
          <div class="flex w-full justify-between">
            <div class="w-full">
              <p class="card_title">{{ program.name }}</p>
              <p class="card_description w-full max-w-1/2">{{ program.description }}</p>
            </div>
            <div class="flex items-start justify-end gap-6">
              <button class="button-icon"
                hx-get="{% url "program:edit" request.org.slug program.id %}"
                hx-target="#program-edit-form"
                @htmx:after-request="showProgramEditModal = true">
                <i class="fa-light fa-pen-line"></i>
              </button>
              <button class="button button-sm outline-style" @click="showInviteModal = true">Invite</button>
              <div x-cloak x-show="showInviteModal" x-transition.opacity class="modal-backdrop" >
                <div @click.away="showInviteModal = false" x-transition class="modal">
                  <div class="header">
                    <h2 class="title">{% translate "Invite Organizations" %}</h2>
                    <button @click="showInviteModal = false" class="button-icon" aria-label="Close">
                      <i class="fa-light fa-xmark text-xl"></i>
                    </button>
                  </div>
                  <form action="{% url "program:invite_organization" org_slug=request.org.slug pk=program.id %}" method="post">
                    {% csrf_token %}
                    <div class="flex flex-col gap-2 py-4">
                      <label for="organization" class="title-sm">{% translate "Organization" %}</label>
                      <select id="organization" name="organization" required class="base-dropdown">
                        {% for org in organizations %}
                          <option value="{{ org.slug }}">{{ org.name }}</option>
                        {% endfor %}
                      </select>
                      <span class="hint">{% blocktrans %} Select the organization you want to invite.{% endblocktrans %}</span>
                    </div>
                    <div class="footer">
                      <button type="button" @click="showInviteModal = false" class="button button-md outline-style">Close</button>
                      <button type="submit" class="button button-md primary-dark">Invite</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-between items-center">
            <!-- program info -->
            <div class="flex items-center gap-6">
              <div class="infocard-dark">
                  <i class="fa-light fa-file-check"></i>
                  <div>
                      <h6>Delivery Type</h6>
                      <p>{{program.delivery_type.name}}</p>
                  </div>
              </div>
              <div class="line my-2 h-8 w-1 bg-gray-200"></div>
              <div class="infocard-dark">
                  <i class="fa-light fa-calendar-arrow-up"></i>
                  <div>
                      <h6>Start Date</h6>
                      <p>{{program.start_date}}</p>
                  </div>
              </div>
              <i class="fa-light fa-arrow-right text-brand-mango"></i>
              <div class="infocard-dark">
                  <div>
                      <h6>End Date</h6>
                      <p>{{program.end_date}}</p>
                  </div>
              </div>
              <div class="line my-2 h-8 w-1 bg-gray-200"></div>
              <div class="infocard-dark">
                  <i class="fa-light fa-money-bill-wave"></i>
                  <div>
                      <h6>Budget</h6>
                      <p>{{program.budget}}</p>
                  </div>
              </div>
            </div>

            <!-- button -->
            <button class="button button-md outline-style" @click="showOpp = !showOpp">
              <span class="relative z-20" x-text="showOpp ? 'Hide Status' : 'View Status'"></span>
              <i class="fa-light text-xs" :class="showOpp ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </button>

          </div>
          <!-- progress -->
          <div class="bg-neutral-100 rounded-lg w-full h-20 flex items-center px-5 justify-evenly gap-6">
            <div class="infocard-dark !w-fit">
                <i class="fa-light fa-envelope"></i>
                <div>
                    <h6>Invited</h6>
                    <p>{{program.invited}}</p>
                </div>
            </div>
            <i class="fa-light fa-arrow-right text-brand-mango"></i>
            <div class="infocard-dark !w-fit">
                <i class="fa-light fa-file-lines"></i>
                <div>
                    <h6>Applied</h6>
                    <p>{{program.applied}}</p>
                </div>
            </div>
            <i class="fa-light fa-arrow-right text-brand-mango"></i>
            <div class="infocard-dark !w-fit">
                <i class="fa-light fa-circle-check"></i>
                <div>
                    <h6>Accepted</h6>
                    <p>{{program.accepted}}</p>
                </div>
            </div>
          </div>

          <div class="flex flex-col gap-y-4" x-cloak x-show="showOpp">
          {% for application in program.programapplication_set.all %}
            <div class="relative flex flex-col gap-5 p-6 bg-white rounded-xl border border-gray-200">
              <div class="flex justify-between w-full">
                <div class="flex flex-col gap-2 w-full">
                  <div class="flex items-center justify-between gap-2 font-normal">
                    <p class="hint">{{ application.date_created|date }}</p>
                    <div class="flex items-center gap-2 font-normal">
                      {% if application.status == 'rejected' %}
                      <span class="badge badge-md negative-dark">rejected</span>
                      {% elif application.status == 'declined' %}
                      <span class="badge badge-md negative-dark">declined</span>
                      {% elif application.status == 'invited' %}
                      <span class="badge badge-md warning-dark">invited</span>
                      {% elif application.status == 'applied' %}
                      <span class="badge badge-md primary-dark">applied</span>
                      {% elif application.status == 'accepted' %}
                      <span class="badge badge-md positive-dark">accepted</span>
                      {% endif %}
                    </div>
                  </div>
                  <div>
                    <p class="card_title">{{ application.organization.name }}</p>
                  </div>
                </div>
              </div>

              <div class="flex items-center justify-end">
                {% if application.status == 'applied' %}
                <div class="flex gap-2">
                  <button class="button button-md outline-style" value="reject"
                    hx-post="{% url 'program:manage_application' request.org.slug application.id 'reject' %}">
                    Reject
                  </button>
                  <button class="button button-md primary-dark" value="accept"
                    hx-post="{% url 'program:manage_application' request.org.slug application.id 'accept' %}">
                  Accept
                  </button>
                </div>
                {% elif application.status == 'accepted' %}
                <a class="button button-md button-outline-rounded me-1"
                  href="{% url "program:opportunity_init" request.org.slug program.id %}">
                  <div class="flex items-center justify-between gap-4">
                    <p class="text-sm">Create Opportunity</p>
                    <i class="fa-light fa-arrow-right"></i>
                  </div>
                </a>
                <a class="button button-md button-outline-rounded"
                  href="{% url "opportunity:list" request.org.slug %}">
                  <div class="flex items-center justify-between gap-4">
                    <p class="text-sm">View Opportunities</p>
                    <i class="fa-light fa-arrow-right"></i>
                  </div>
                </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          </div>
      </div>
    {% endfor %}
  </div>

  <div x-cloak x-show="showProgramEditModal" x-transition.opacity class="modal-backdrop">
    <div @click.away="showProgramEditModal = false" x-transition class="modal">
      <div class="header flex justify-between items-center mb-2">
        <h2 class="title">Edit Program</h2>
        <button @click="showProgramEditModal = false" class="button-icon" aria-label="Close">
          <i class="fa-light fa-xmark"></i>
        </button>
      </div>
      <div id="program-edit-form"></div>
    </div>
  </div>
</div>
{% endblock %}
