{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ request.org }} - {% if is_edit %}Edit Program{% else %}Create Program{% endif %}
{% endblock %}

{% block breadcrumbs_inner %}
{{ block.super }}
{% if is_edit %}
<li class="breadcrumb-item active" aria-current="page">Edit Program</li>
{% else %}
<li class="breadcrumb-item active" aria-current="page">Create Program</li>
{% endif %}
{% endblock %}

{% block content %}
<h2 class="mb-2">{% if is_edit %}Edit Program{% else %}Create Program{% endif %}</h2>
<hr>
<form method="post">
  {% csrf_token %}
  {% crispy form %}
</form>
{% endblock content %}
