{% extends "program/base.html" %}
{% load static %}
{% load sort_link %}
{% load django_tables2 %}

{% block title %}{{ request.org }} - Program{% endblock %}

{% block content %}
<div class="container bg-white shadow">
  <div class="mt-5 py-3">
    <h1> Programs
      <span class="float-end">
          <a class="btn btn-primary"
             href="{% url 'program:init' org_slug=request.org.slug %}" title="Add new program"><span
            class="bi bi-plus"></span> Add new
          </a>
        </span>
    </h1>
  </div>

  <div class="pb-4">
   {% render_table table %}
  </div>
  {% include 'pagination.html' %}
</div>
{% endblock content %}
