{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<div class="relative underline"
     x-data="{
         isOpen: false,
         positionMenu() {
             const rect = this.$el.getBoundingClientRect();
             const menu = this.$refs.menu;

             const left = rect.left + rect.width/2 - menu.offsetWidth/2;
             menu.style.left = left + 'px';
             let top = rect.bottom + 5;
             if (window.innerHeight - rect.bottom < rect.height + menu.clientHeight) {
               top = rect.bottom - rect.height - menu.clientHeight;
             }
             menu.style.top = top + 'px';
         }
     }"
     x-on:click="isOpen = true; $nextTick(() => { if(isOpen) positionMenu() })"
     hx-get="{{counts_url}}"
     hx-trigger="load once"
     hx-target="find .flags_counter">

    <span class="rounded-lg cursor-pointer hover:bg-slate-200">
        {{value}}
    </span>

    <div x-ref="menu" x-show="isOpen" x-on:click.outside="isOpen = false" x-transition x-cloak
         class="fixed z-40 p-5 text-sm bg-white rounded-lg shadow-md text-brand-deep-purple text-nowrap whitespace-nowrap font-normal">
        <div class="flags_counter"
             @htmx:after-swap="$refs.menu.style.display = 'initial';
                               $refs.menu.style.display = 'none';">
            <p class="text-slate-500">Loading..</p>
        </div>
    </div>
</div>
