{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<div class="relative underline"
     x-data="{
         isOpen: false,
         historyLoaded: false,
         positionMenu() {
             const rect = this.$el.getBoundingClientRect();
             const menu = this.$refs.menu;
             const top = rect.bottom + 5;
             const left = rect.left + rect.width/2 - menu.offsetWidth/2;
             menu.style.top = top + 'px';
             menu.style.left = left + 'px';
         }
     }"
     x-init="$watch('isOpen', value => {
         if (value && !historyLoaded) {
             // Only hx-trigger first time
             $dispatch('load_flag_counts_{{status}}');
             historyLoaded = true;
         }
     })"
     x-on:click="isOpen = true; $nextTick(() => { if(isOpen) positionMenu() })"
     >

    <span class="rounded-lg cursor-pointer hover:bg-slate-200">
        {{value}}
    </span>

    <div x-ref="menu"
         x-show="isOpen"
         x-on:click.outside="isOpen = false"
         x-transition
         class="fixed z-40 p-5 text-sm bg-white rounded-lg shadow-md text-brand-deep-purple text-nowrap whitespace-nowrap"
         style="display: none">

        <div
            hx-get="{{counts_url}}"
            hx-trigger="load_flag_counts_{{status}} from:closest div[x-data]" hx-target="find .flags_counter">
            <div class="flags_counter">
                <p class="text-slate-500">Loading..</p>
            </div>
        </div>
    </div>
</div>
