{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% block content %}
{% load i18n %}


<p class="my-5 text-sm max-w-screen-lg mx-auto font-medium text-brand-deep-purple">{{request.org.name}}</p>

<div
  class="flex flex-col max-w-screen-lg mx-auto gap-2"
  x-cloak
  x-data="orgTabs()"
>
  <!-- Tabs -->
    <div class="flex relative mx-auto items-center justify-between w-full px-4 bg-slate-50 rounded-lg shadow-sm h-14">
      <ul class="tabs">
        <!-- Details Tab -->
        <li @click="selectedTab = 'details';" :class="{'active': selectedTab !== 'details'}">
          <span>Details</span>
          <div  x-show="selectedTab === 'details'"></div>
        </li>

        <li @click="selectedTab = 'members';" :class="{'active': selectedTab !== 'members'}">
          <span>Members</span>
          <div  x-show="selectedTab === 'members'"></div>
        </li>
      </ul>

    <!-- Options -->
      <div x-show="selectedTab === 'members'" class="flex items-center gap-x-4">
        <button
          class="button button-md bg-red-600 hover:bg-red-700 text-white"
          :disabled="{% if request.org_membership.is_viewer %}true{% else %}selected.length === 0{% endif %}"
          @click="showConfirmRemoveMembershipModal = true"
        >
          <i class="fa-solid fa-trash"></i>
          {% trans 'Remove Member(s)' %}
        </button>
        <button class="button button-md outline-style" @click="showAddMemberModal = true">
          {% trans 'Add Members' %}
        </button>
      </div>
  </div>

  <!-- Tab Content Containers -->
  <div class="w-full">
    <!-- Details Content (Already rendered) -->
    <div x-show="selectedTab === 'details'" class="w-full mt-6">
      <h2 class="text-xl font-semibold text-brand-deep-purple mb-4">Organization</h2>
      <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-100 mb-10">
        <form method="post" class="bg-white">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>

    <div
    x-show="selectedTab === 'members'"
    id="invoice_members_container"
    class="w-full"
    hx-get="{% url 'organization:org_member_table' request.org.slug %}?{% querystring %}"
    hx-swap="innerHTML"
    hx-trigger="loadMembers from:body"
  ></div>
  </div>

  {% include "components/organization_home_page/add_org_member_modal.html" %}
  {% include "components/organization_home_page/remove_org_member_confirm_modal.html" %}
</div>
{% endblock content %}


{% block inline_javascript %}
{{ block.super }}
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('orgTabs', () => ({
      selectedTab: '{{ request.GET.active_tab|default:"details" }}',
      showAddMemberModal: false,
      isHistoryAvailable: false,
      selected: [],
      selectAll: false,
      showConfirmRemoveMembershipModal: false,

      toggleSelectAll() {
        this.selectAll = !this.selectAll;
        if (this.selectAll) {
          this.selected = Array.from(document.querySelectorAll('input[name="row_select"]'))
            .map(c => c.value);
        } else {
          this.selected = [];
        }
      },

      init() {
        this.updateUrl(this.selectedTab);
        this.loadTabContent(this.selectedTab);

        this.$watch('selectedTab', (value) => {
          this.updateUrl(value);
          this.loadTabContent(value);
        });
      },

      updateUrl(tab) {
        const url = new URL(window.location);
        url.searchParams.set('active_tab', tab);
        window.history.pushState({}, '', url);
      },

      loadTabContent(tab) {
        if (tab === 'members' && !this.isHistoryAvailable) {
          htmx.trigger('#invoice_members_container', 'loadMembers');
          this.isHistoryAvailable = true;
        }
      },
    }));
  });
</script>
{% endblock %}
