{% extends "tailwind/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<p class="my-5 text-sm max-w-screen-lg mx-auto font-medium text-brand-deep-purple">{{request.org.name}}</p>

<div
  class="flex flex-col max-w-screen-lg mx-auto gap-2"
  x-cloak
  x-data="{
      selectedTab: '{{ request.GET.active_tab|default:'details' }}',
      showAddMemberModal: false,
      isHistoryAvailable: false,
    }"
  x-effect="
      const url = new URL(window.location);
      url.searchParams.set('active_tab', selectedTab);
      window.history.pushState({}, '', url);

      if (selectedTab === 'members' && !isHistoryAvailable) {
        htmx.trigger('#invoice_members_container', 'loadMembers');
        isHistoryAvailable = true
      }
  "
>

  <!-- Tabs -->
  <div class="relative flex items-center justify-between w-full px-4 mx-auto rounded-lg shadow-sm bg-slate-50 h-14">
    <div class="flex h-full px-2 gap-x-8">
      <!-- Details Tab -->
      <div
        @click="selectedTab = 'details';"
        class="relative flex items-center h-full text-sm cursor-pointer"
        :class="{
                'text-brand-deep-purple font-medium': selectedTab === 'details',
                'text-gray-500': selectedTab !== 'details'
            }"
      >
        <span>Details</span>
        <div
          class="absolute bottom-0 left-1/2 -translate-x-1/2 w-2/3 h-1.5 bg-brand-mango rounded-t-lg"
          x-show="selectedTab === 'details'"
        ></div>
      </div>

      <!-- Members Tab -->
      <div
        @click="selectedTab = 'members';"
        id="members-tab"
        class="relative flex items-center h-full text-sm cursor-pointer"
        :class="{
                'text-brand-deep-purple font-medium': selectedTab === 'members',
                'text-gray-500': selectedTab !== 'members'
            }"
      >
        <span>Members</span>
        <div
          class="absolute bottom-0 left-1/2 -translate-x-1/2 w-2/3 h-1.5 bg-brand-mango rounded-t-lg"
          x-show="selectedTab === 'members'"
        ></div>
      </div>
    </div>

    <!-- Options -->
    <div x-show="selectedTab === 'members'" class="flex items-center gap-x-4">
      <button class="button button-md outline-style" @click="showAddMemberModal = true">
        Add Members
      </button>
    </div>
  </div>

  <!-- Tab Content Containers -->
  <div class="w-full">
    <!-- Details Content (Already rendered) -->
    <div x-show="selectedTab === 'details'" class="w-full mt-6">
      <h2 class="text-xl font-semibold text-brand-deep-purple mb-4">Organization</h2>
      <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-100 mb-10">
        <form method="post" class="bg-white">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
       <h2 class="text-xl font-semibold text-brand-deep-purple mb-4">Add Credential</h2>
      <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-100">
        <form method="post" action="{% url 'organization:add_members' org_slug=organization.slug %}">
          {% csrf_token %}
          {% crispy add_credential_form %}
        </form>
      </div>
    </div>

    <div
    x-show="selectedTab === 'members'"
    id="invoice_members_container"
    class="w-full"
    hx-get="{% url 'organization:org_member_table' request.org.slug %}"
    hx-swap="innerHTML"
    hx-trigger="loadMembers from:body"
  ></div>
  </div>

<div x-show="showAddMemberModal"
     x-cloak
     x-transition.opacity
     class="fixed inset-0 z-50 flex items-center justify-center modal-backdrop"
     @keydown.escape.window="showAddMemberModal = false">
  <div @click.outside="showAddMemberModal = false"
       class="bg-white rounded-2xl shadow-xl w-full max-w-lg p-6">

    <div class="flex justify-between items-center pb-2 mb-4">
      <h2 class="text-lg font-semibold text-brand-deep-purple">
        Invite Member
      </h2>
      <button @click="showAddMemberModal = false" class="text-gray-500 hover:text-gray-700">
        <i class="fa-solid fa-xmark text-xl"></i>
      </button>
    </div>

    <form action="{% url 'organization:add_members' request.org.slug %}"  method="post">
      {% csrf_token %}
      <div class="mb-4">
        {% crispy membership_form %}
      </div>

    </form>
  </div>
</div>

</div>
{% endblock content %}
