{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ request.org }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="mt-2 pt-4 px-4">
      <div>
        <h1 class="display-5 mb-0">{{ organization.name }}</h1>
        <p class="fw-lighter">{{ organization.slug }}</p>
      </div>

      <section class="shadow-sm p-3 mb-5 bg-white rounded">
        <form method="post">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </section>

      <section class="shadow-sm p-3 mb-5 bg-white rounded">
        <h3>{% translate "Members" %}</h3>
        <form method="post" action="{% url 'organization:add_members' org_slug=organization.slug %}">
          {% csrf_token %}
          {% crispy membership_form %}
        </form>

        <div class='table'>
          <table class="table pg-table">
            <thead>
            <tr>
              <th>{% translate "Member" %}</th>
              <th>{% translate "Role" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for membership in organization.memberships.all %}
              <tr>
                <td>
                  {{ membership.user }}
                </td>
                <td>{{ membership.get_role_display }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

    </div>
  </div>
{% endblock content %}
