{% load i18n static %}
<div id="cluster-work-area-modal" class="modal-backdrop" x-cloak
  x-show="showCreateWorkAreaGroupsModal"
  @keydown.escape.window="showCreateWorkAreaGroupsModal = false">
  <div class="modal">
    <div class="px-4 py-3">
      <div class="header text-lg font-semibold text-brand-deep-purple flex flex-col items-center gap-4">
          <i class="text-xl fa-solid fa-network-wired"></i>
          <h1>{% translate "Create Work Area Groups" %}</h1>
      </div>

      <p class="mt-4">{% translate "This process may take few minutes. Please do not close this window until it has completed." %}</p>

      <div class="flex flex-1 gap-2 mt-4">
        <button type="submit" class="button button-md primary-dark"
          hx-post="{% url 'microplanning:cluster_work_areas' request.org.slug request.opportunity.opportunity_id %}"
          hx-trigger="click"
          hx-swap="outerHTML">
          {% trans 'Create Groups' %}
        </button>
      </div>

      <div>
        <div id="clustering-status"></div>
      </div>

      <div class="flex justify-end mt-4">
        <button type="button" class="button button-md outline-style" @click="showCreateWorkAreaGroupsModal = false">
            {% trans 'Close' %}
        </button>
      </div>
    </div>
  </div>
</div>
