{% load i18n %}
<span x-data="{ open: false }"
      class="relative inline-block"
      @click.outside="open = false">
  <button type="button"
          class="button button-outline-rounded button-sm py-2"
          @click="open = !open">
    <i class="fa-solid fa-download mr-1"></i>{% translate "Download" %}
  </button>
  <div x-show="open"
       x-cloak
       x-transition
       class="absolute right-0 z-40 mt-1 w-40 rounded-lg border border-gray-200 bg-white py-2 shadow-lg">
    <a href="{{ hrefs.csv }}"
       class="block px-4 py-1 text-sm hover:bg-slate-100">{% translate "CSV" %}</a>
    <a href="{{ hrefs.xlsx }}"
       class="block px-4 py-1 text-sm hover:bg-slate-100">{% translate "Excel (.xlsx)" %}</a>
  </div>
</span>
