{% extends 'base.html' %}
{% load i18n static %}

{% block css %}
{{ block.super }}
<link href="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.css" rel="stylesheet">
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.1/mapbox-gl-draw.css"
    type="text/css">
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.5.1/mapbox-gl-draw.js"></script>
<script src="{% static 'bundles/js/mapbox-utils.js' %}"></script>
{% endblock javascript %}

{% block content %}
<h2 class="mb-4 text-brand-deep-purple font-medium">{% translate "Select Opportunity Area" %}</h2>
<div x-ref="mapContainer" class="w-full grid grid-cols-12 gap-2 h-[max(calc(100vh-150px),200px)]"
    x-data="mapController()">
    <div id="map-wrapper" class="relative h-full shadow-md" :class="panelOpen ? 'col-span-9' : 'col-span-12'">
        <div id="map" class="w-full h-full"></div>
        <button id="toggle-sidebar" title="Toggle Settings Panel"
            class="absolute top-4 right-4 z-50 bg-white p-2 rounded shadow-md hover:cursor-pointer"
            @click="togglePanel()" aria-label="{% translate 'Toggle Settings Panel' %}" :aria-expanded="panelOpen"
            aria-controls="sidebar" type="button">
            <i x-show="panelOpen" class="fa fa-chevron-right"></i>
            <i x-show="!panelOpen" class="fa fa-chevron-left"></i>
        </button>
    </div>
    <aside id="sidebar" class="col-span-3 h-full bg-white shadow-md p-4 overflow-auto" x-transition x-show="panelOpen">
        <h2 class="text-lg font-semibold mb-2">Settings</h2>
        <!-- Sidebar content goes here -->
    </aside>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("mapController", () => ({
            panelOpen: true,
            map: null,

            init() {
                this.$nextTick(() => {
                    this.initializeMap();
                });
            },

            initializeMap() {
                const accessToken = '{{ mapbox_api_key|escapejs }}';
                if (!MapboxUtils.setAccessToken(accessToken)) return;

                this.map = MapboxUtils.createMap({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/standard',
                    projection: 'globe',
                    zoom: 6,
                    center: [8.675, 9.082]
                });

                MapboxUtils.addNavigation(this.map, 'top-left');

                const draw = MapboxUtils.addDrawControls(this.map);

                this.map.on('style.load', () => {
                    this.map.setFog({});
                });
                this.map.on('draw.create', this.onMapDrawCreate.bind(this));
                this.map.on('draw.delete', this.onMapDrawDelete.bind(this));
                this.map.on('draw.update', this.onMapDrawUpdate.bind(this));
            },

            onMapDrawCreate(event) {
                // Todo
            },

            onMapDrawUpdate(event) {
                // Todo
            },

            onMapDrawDelete(event) {
                // Todo
            },

            togglePanel() {
                this.panelOpen = !this.panelOpen;
            }
        }));
    });
</script>
{% endblock inline_javascript %}
