{% extends "django_tables2/bootstrap5.html" %}
{% load django_tables2 %}
{% load i18n %}

{% block pagination %}
{% if table.page and table.paginator.num_pages > 1 %}
<nav aria-label="Table navigation">
  <ul class="pagination justify-content-center">
    {% if table.page.has_previous %}
    {% block pagination.previous %}
    <li class="previous page-item">
      <div hx-get="{{ request.path }}{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
           hx-trigger="click" hx-swap="outerHTML" hx-target="closest .table-container" class="page-link">
        <span aria-hidden="true">&laquo;</span>
        {% trans 'previous' %}
      </div>
    </li>
    {% endblock pagination.previous %}
    {% endif %}
    {% if table.page.has_previous or table.page.has_next %}
    {% block pagination.range %}
    {% for p in table.page|table_page_range:table.paginator %}
    <li class="page-item{% if table.page.number == p %} active{% endif %}">
      <div class="page-link" {% if p != '...' %}hx-get="{{ request.path }}{% querystring table.prefixed_page_field=p %}"
           hx-trigger="click" hx-swap="outerHTML" hx-target="closest .table-container"{% endif %}>
        {{ p }}
      </div>
    </li>
    {% endfor %}
    {% endblock pagination.range %}
    {% endif %}
    {% if table.page.has_next %}
    {% block pagination.next %}
    <li class="next page-item">
      <div hx-get="{{ request.path }}{% querystring table.prefixed_page_field=table.page.next_page_number %}" hx-trigger="click" hx-swap="outerHTML" hx-target="closest .table-container" class="page-link">
        {% trans 'next' %}
        <span aria-hidden="true">&raquo;</span>
      </div>
    </li>
    {% endblock pagination.next %}
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock pagination %}
