{% load i18n %}
{% for button in buttons %}
   {% if button.post %}
    <!-- Render the form with POST button -->
    <form action="{{ button.url }}" method="post" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-{{ button.color|default:'primary' }} btn-sm"
              {% if button.disable %}disabled{% endif %}>
        {% if button.icon %}<span class="{{ button.icon }}"></span>{% endif %}
        <span class="d-none d-md-inline">{% if button.icon %}&nbsp;{% endif %}{% translate button.text %}</span>
      </button>
    </form>
  {% else %}
    <!-- Render the normal link button -->
    <a class="btn btn-{{ button.color|default:'primary' }} btn-sm"
       href="{{ button.url }}"
       {% if button.disable %}class="disabled"{% endif %} tabindex="-1" aria-disabled="true">
      {% if button.icon %}<span class="{{ button.icon }}"></span>{% endif %}
      <span class="d-none d-md-inline">{% if button.icon %}&nbsp;{% endif %}{% translate button.text %}</span>
    </a>
  {% endif %}
{% endfor %}
