{% load avatar %}
      <div x-data="{ isStatusModalOpen: false }"
           class="profile-card w=full h-full flex gap-4 text-white relative">
        <div class="profile-left flex flex-col justify-center items-center">
          <div class="cursor-pointer">
            <div class="absolute z-10 top-0 left-0 w-full h-full"
                 @click="isStatusModalOpen = true">
              {% if opportunity_access.suspended %}
                <svg viewBox="-165 -250 1200 1200" xmlns="http://www.w3.org/2000/svg">
                  <g transform="rotate(45)">
                    <circle r="120" stroke="red" stroke-width="60" stroke-linecap="round"
                            pathLength="360" stroke-dasharray="90 270" fill="none"></circle>
                  </g>
                </svg>
              {% endif %}
            </div>
            {% user_avatar user=opportunity_access.user size="large" %}
          </div>
          <div class="share-icon flex justify-center mt-4">
            <div class="relative">
              <!-- Status Modal -->
              <div x-show="isStatusModalOpen"
                   x-cloak
                   class="fixed inset-0 bg-black/50 bg-opacity-50 transition-opacity z-40"
                   @click="isStatusModalOpen = false"></div>
              <div x-show="isStatusModalOpen"
                   x-cloak
                   class="absolute top-15 -left-8  bg-white rounded-2xl shadow-xl z-50"
                   @click.stop>{% include "components/cards/user_status_card.html" with opportunity_access=opportunity_access %}</div>
            </div>
          </div>
        </div>
        <div class="py-2 basis-sm">
          <h2 class="text-base whitespace-nowrap">{{ opportunity_access.user.name }}</h2>
          <p class="text-xs">{{ opportunity_access.user.username }}</p>
          <p class="mt-2 whitespace-nowrap">
            <i class="fa fa-phone"></i>
            <span class="text-xs">{{ opportunity_access.user.phone_number }}</span>
          </p>
        </div>
      </div>
