{% load humanize %}
<div class="flex gap-4 h-32 items-center p-4 profile-bg metric-container rounded-2xl">
  {% include "components/worker_page/profile.html" with opportunity_access=opportunity_access %}
  <div class="grid grid-cols-5 gap-4 w-full">
    <div class="w-full h-full metric-card relative flex flex-col justify-between p-4">
      <div class="flex justify-between items-center">
        <div class="text-2xl" x-data
          x-tooltip.raw="Includes all Deliver app forms submitted by this worker across all payment units including duplicates">
          {{ counts.total }}</div>
        <div class="hidden lg:block">
          <i class="fa-solid fa-file-invoice text-xl"></i>
        </div>
      </div>
      <div class="pt-4 text-sm flex items-center justify-between">
        <span>Total Deliver Units</span>
      </div>
    </div>

    <div class="w-full h-full metric-card relative flex flex-col justify-between p-4"
      x-data="{ isOpen: false }">
      <div class="flex justify-between items-center">
        <div class="text-2xl">{{ counts.flagged }}</div>
        <div class="hidden lg:block">
          <i class="fa-solid fa-flag text-xl"></i>
        </div>
      </div>
      <div class="pt-4 text-sm flex items-center justify-between">
        <span>Flagged Deliver Units</span>
        <i class="fa-solid ml-2 cursor-pointer" :class="isOpen ? 'fa-caret-up' : 'fa-caret-down'"
          @click="isOpen = !isOpen"></i>
      </div>
      <div x-show="isOpen" x-cloak @click.outside="isOpen = false" x-transition
        class="z-50 absolute top-full mt-2 right-0 w-full rounded-lg bg-white text-brand-deep-purple shadow-lg pt-2 px-5">
        <span class="text-sm font-medium text-brand-deep-purple">Flagged Info</span>
        <div class="py-2">
          <div class="flex justify-between items-center py-3">
            <span class="text-xs w-27">Name</span>
            <i class="fa-solid fa-circle-check text-green-600"></i>
            <i class="fa-solid fa-clock text-gray-300"></i>
          </div>
          {% for flag in flagged_info %}
          <div class="flex justify-between items-center py-3 pr-1">
            <span class="text-xs w-25">{{ flag.name }}</span>
            <span class="text-xs">{{ flag.approved }}</span>
            <span class="text-xs">{{ flag.pending }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="w-full h-full metric-card relative flex flex-col justify-between p-4"
      x-data="{ isOpen: false }">
      <div class="flex justify-between items-center">
        <div class="text-2xl">{{ counts.rejected }}</div>
        <div class="hidden lg:block">
          <i class="fa-solid fa-thumbs-down text-xl"></i>
        </div>
      </div>
      <div class="pt-4 text-sm flex items-center justify-between">
        <span>Rejected Deliver Units</span>
        <i class="fa-solid ml-2 cursor-pointer" :class="isOpen ? 'fa-caret-up' : 'fa-caret-down'"
          @click="isOpen = !isOpen"></i>
      </div>
      <div x-show="isOpen" x-cloak @click.outside="isOpen = false" x-transition
        class="z-50 absolute top-full mt-2 right-0 w-full rounded-lg bg-white text-brand-deep-purple shadow-lg pt-2 px-5">
        <span class="text-sm font-medium text-brand-deep-purple">Rejection Details</span>
        <!-- Details -->
        <div class="py-2">
          {% for flag in flagged_info %}
          {% if flag.rejected > 0 %}
          <div class="flex justify-between items-center py-3">
            <span class="text-xs w-27">{{ flag.name }}</span>
            <span class="text-xs">{{ flag.rejected }}</span>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="w-full h-full metric-card relative flex flex-col justify-between p-4">
      <div class="flex justify-between items-center">
        <div class="text-2xl">{{ opportunity_access.payment_accrued|intcomma }}</div>
        <div class="hidden lg:block">
          <i class="fa-solid fa-money-bill-wave text-xl"></i>
        </div>
      </div>
      <div class="pt-4 text-sm flex items-center justify-between">
        <span>Accrued Amount ({{ opportunity.currency_code }})</span>
      </div>
    </div>

    <div class="w-full h-full metric-card relative flex flex-col justify-between p-4"
      x-data="{ isOpen: false }">
      <div class="flex justify-between items-center">
        <div class="text-2xl">{{ opportunity_access.total_paid|intcomma }}</div>
        <div class="hidden lg:block">
          <i class="fa-solid fa-hand-holding-dollar text-xl"></i>
        </div>
      </div>
      <div class="pt-4 text-sm flex items-center justify-between">
        <span>Paid Amount ({{ opportunity.currency_code }})</span>
        {% if last_payment_details %}
        <i class="fa-solid ml-2 cursor-pointer" :class="isOpen ? 'fa-caret-up' : 'fa-caret-down'"
          @click="isOpen = !isOpen"></i>
      </div>
      <div x-show="isOpen" x-cloak @click.outside="isOpen = false" x-transition
        class="z-50 absolute top-full mt-2 right-0 w-full rounded-lg bg-white text-brand-deep-purple shadow-lg pt-2 px-5">
        <span class="text-sm font-medium text-brand-deep-purple">Payment Details</span>
        <div class="flex flex-col py-5 gap-1.5">
          <span class="text-xs text-brand-blue-light">Last Paid</span>
          <span class="text-xs text-brand-deep-purple">{{ last_payment_details.date_paid|date }}</span>
          <span class="text-xl text-green-600">{{ last_payment_details.amount }}</span>
          {% if last_payment_details.opportunity_access %}
          <span class="text-xs text-brand-deep-purple">
            {{ last_payment_details.opportunity_access.user.name }}
          </span>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
