<span
  x-data="{
    open: false,
    dropdownStyle: '',
    originalOverflow: '',
    calculatePosition() {
      const badge = this.$el;
      const badgeRect = badge.getBoundingClientRect();
      const viewportHeight = window.innerHeight;
      const viewportWidth = window.innerWidth;
      const dropdown = this.$el.querySelector('.dropdown-content');

      setTimeout(() => {
        const dropdownHeight = dropdown ? dropdown.offsetHeight : 0;

        const spaceBelow = viewportHeight - badgeRect.bottom;
        const shouldShowAbove = spaceBelow < dropdownHeight && badgeRect.top > dropdownHeight;

        let top = shouldShowAbove
          ? badgeRect.top + window.scrollY - dropdownHeight
          : badgeRect.bottom + window.scrollY;

        let left = Math.min(
          badgeRect.left,
          viewportWidth -  dropdown.offsetWidth - 20
        );

        this.dropdownStyle = `position: fixed; top: ${top}px; left: ${left}px;`;
      }, 0);
    },
    toggleDropdown() {
      if (!this.open) {
        this.originalOverflow = document.body.style.overflow;
        document.body.style.overflow = 'hidden';
        this.calculatePosition();
      } else {
        document.body.style.overflow = this.originalOverflow || '';
      }
      this.open = !this.open;
    }
  }"
  @click="toggleDropdown()"
  @click.outside="open = false; document.body.style.overflow = originalOverflow || '';"
  :class="{
    '': open,
    '': !open
  }"
  class="cursor-pointer {{styles}}"
>
  {{text}}

  <!-- Dropdown -->
  <div
    x-show="open"
    x-cloak
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    :style="dropdownStyle"
    class="dropdown-content z-40 w-48 rounded-lg bg-white shadow-lg py-2 px-3 border border-gray-200 min-w-8"
  >
    <p class="text-blue-light text-xs mb-1">{{ title|default:'' }}</p>
    <div class="" >
      {% for item in list %}
      <a href="{{ item.url }}" class="block w-full text-left bg-transparent border-0 px-2 my-2 hover:bg-slate-100 rounded">
        {{ item.title }}
      </a>
      {% endfor %}
    </div>
  </div>
</span>
