{% load static %}
{% load i18n %}

<footer class="fixed bottom-0 left-0 right-0 w-full bg-zinc-800 text-slate-100 py-3 text-xs">
    <div class="flex flex-wrap items-center justify-center space-x-2 text-center">
      <!-- CommCare Logo -->
      <a href="https://dimagi.com/connect/" class="flex items-center hover:underline">
        <img src="{% static 'images/favicons/commcare-flower-footer.png' %}" alt="CommCare" class="h-6" />
      </a>

      <!-- Dimagi Logo -->
      <a href="https://dimagi.com/" class="flex items-center hover:underline">
        <img src="{% static 'images/dimagi_logo.svg' %}" alt="Dimagi" class="h-6" />
      </a>

      <!-- Copyright text -->
      <span>
        {% blocktranslate %}
          <a href="https://dimagi.com/connect/" class="hover:underline">Connect</a>
          is copyright &copy;
        {% endblocktranslate %}
        {% now "Y" %}
        <a href="https://dimagi.com/" class="hover:underline">Dimagi, Inc.</a>
      </span>

      <!-- Links -->
      <span>|</span>
      <a href="https://dimagi.atlassian.net/wiki/spaces/commcareconnectpublic/overview" class="hover:underline">
        {% translate "Learn more about Connect" %}
      </a>
      <span>|</span>
      <a href="https://dimagi.com/terms/latest/privacy/" target="_blank" class="hover:underline">
        {% translate "Privacy" %}
      </a>
      <span>|</span>
      <a href="https://dimagi.com/terms/latest/tos/" target="_blank" class="hover:underline">
        {% translate "Terms of Service" %}
      </a>
      <span>|</span>
      <a href="https://dimagi.com/terms/latest/ba/" target="_blank" class="hover:underline">
        {% translate "Business Agreement" %}
      </a>
    </div>
</footer>
