{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "Password Reset" %}
{% endblock %}
{% block inner %}
  <div class="w-full min-h-[620px] h-fit flex flex-col gap-4">
    <h1 class="title text-brand-deep-purple">{% translate "Change Password" %}</h1>
    <p>{% translate 'Your password is now changed. You can now sign in with your new password.' %}</p>
    <div class="flex justify-between items-center">
      <div></div>
      <a href="{% url 'account_login' %}"
         class="button button-md primary-dark">
        <span class="relative z-20">{% translate "Sign In" %}</span>
      </a>
    </div>
  </div>
{% endblock %}
