{% extends "account/base.tailwind.html" %}

{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
  <form method="post" class="w-full min-h-[620px] h-fit flex flex-col gap-4">
    {% csrf_token %}
    <h6 class="title text-brand-deep-purple">{% translate "Password Reset" %}</h6>
    <span class="text-sm text-gray-600">{% blocktranslate %}You will receive a password reset link in your email. {% endblocktranslate %}</span>

    <div class="input-group {% if form.email.errors %}error{% endif %}">
        <div class="simple-input">
            <input type="email"
                   placeholder={% translate "Enter Email ID" %}
                   required
                   id={{ form.email.auto_id }}
                   {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                   name={{ form.email.html_name }}>
            <i class="fa-light fa-envelope"></i>
            <span class="error-icon fa-solid fa-circle-exclamation"></span>
        </div>
        {% for error in form.email.errors %}
          <p class="error-msg">* {{ error }}</p>
        {% endfor %}
    </div>

    <div class="flex justify-between items-center">
      <div></div>
      <button class="button button-md outline-style"
              @click="submitWithValidation()">
        <span class="relative z-20">{% translate "Reset" %}</span>
      </button>
    </div>

    <div class="text-sm text-gray-400 text-center mt-auto border-t-gray-200 border-t-2 pt-4 ">
        {% translate "Don't have an account?" %}
      <a href="{{ signup_url }}" class="text-brand-indigo font-medium">{% translate "Signup" %}</a>
    </div>
  </form>
{% endblock %}
