{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktranslate %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}</p>
    {% else %}
        {% if form %}
          <form method="post" class="w-full min-h-[620px] h-fit flex flex-col gap-4">
                {% csrf_token %}
              <h6 class="title text-brand-deep-purple">New Password</h6>
              <span class="text-sm text-gray-600">Please create a new password</span>
                  <!-- Password Field -->
            <div class="input-group {% if form.password1.errors %}error{% endif %}">
                  <div class="simple-input">
                      <input type="password"
                             placeholder={% translate "Password" %}
                             required
                             id={{ form.password1.auto_id }}
                             {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                             name={{ form.password1.html_name }}>
                      <i class="fa-solid fa-lock"></i>
                      <span class="error-icon fa-solid fa-circle-exclamation"></span>
                  </div>
                  {% for error in form.password1.errors %}
                    <p class="error-msg">* {{ error }}</p>
                  {% endfor %}
              </div>

            <div class="input-group {% if form.password2.errors %}error{% endif %}">
                  <div class="simple-input">
                      <input type="password"
                             placeholder={% translate "Confirm Password" %}
                             required
                             id={{ form.password2.auto_id }}
                             {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                             name={{ form.password2.html_name }}>
                      <i class="fa-solid fa-lock"></i>
                      <span class="error-icon fa-solid fa-circle-exclamation"></span>
                  </div>
                  {% for error in form.password2.errors %}
                    <p class="error-msg">* {{ error }}</p>
                  {% endfor %}
              </div>

              <div class="flex justify-between items-center">
                  <div></div>
                  <button class="button button-md primary-dark" type="submit">
                      <span class="relative z-20">Update</span>
                  </button>
              </div>

              <div class="text-sm text-gray-400 text-center mt-auto border-t-gray-200 border-t-2 pt-4 ">
                  Don't have an account?
                  <a href="#" class="text-brand-indigo font-medium" @click="submitWithValidation()"
                  @submit.prevent="submitWithValidation()">Signup</a>
              </div>
          </form>
        {% else %}
            <p>{% translate 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
