{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
  <div class="w-full min-h-[620px] h-fit flex flex-col gap-4">
    <h6 class="title text-brand-deep-purple">{% translate "Password Reset" %}</h6>
    <p class="mt-2">{% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
  </div>
{% endblock %}
