{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}
<div class="w-full min-h-[620px] h-fit flex flex-col gap-4">
  <form method="post" class="flex flex-col gap-4"
    x-data="{
      email: '', password: '', confirmPassword: '', termsChecked: false,
      isFormValid() {
        return this.termsChecked && this.email && this.password && this.confirmPassword;
      }
    }">
    {% csrf_token %}
    <h6 class="title text-brand-deep-purple">{% translate "Signup" %}</h6>
    <span class="text-sm text-gray-600">{% blocktranslate %}Please enter your details{% endblocktranslate %}</span>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}<p class="text-sm text-red-600">* {{ error }}</p>{% endfor %}
    {% endif %}
    <div class="input-group {% if form.email.errors %}error{% endif %}">
      <div class="simple-input">
        <input type="email"
               placeholder="{% translate "Enter Email ID" %}"
               required
               id="{{ form.email.auto_id }}"
               {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
               name="{{ form.email.html_name }}" x-model="email">
        <i class="fa-solid fa-envelope"></i>
        <span class="error-icon fa-solid fa-circle-exclamation"></span>
      </div>
      {% for error in form.email.errors %}<p class="error-msg">* {{ error }}</p>{% endfor %}
    </div>
    <div class="input-group {% if form.password1.errors %}error{% endif %}">
      <div class="simple-input">
        <input type="password"
               placeholder="{% translate "Password" %}"
               required
               id="{{ form.password1.auto_id }}"
               {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
               name="{{ form.password1.html_name }}" x-model="password">
        <i class="fa-solid fa-lock"></i>
        <span class="error-icon fa-solid fa-circle-exclamation"></span>
      </div>
      {% for error in form.password1.errors %}<p class="error-msg">* {{ error }}</p>{% endfor %}
    </div>
    <div class="input-group {% if form.password2.errors %}error{% endif %}">
      <div class="simple-input">
        <input type="password"
               placeholder="{% translate "Confirm Password" %}"
               required
               id="{{ form.password2.auto_id }}"
               {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
               name="{{ form.password2.html_name }}" x-model="confirmPassword">
        <i class="fa-solid fa-lock"></i>
        <span class="error-icon fa-solid fa-circle-exclamation"></span>
      </div>
      {% for error in form.password2.errors %}<p class="error-msg">* {{ error }}</p>{% endfor %}
    </div>
    <!-- Checkbox and Submit -->
    <div class="flex flex-col items-end gap-3">
      <div class="input-group">
        <div class="flex items-start w-full gap-2">
          <div><input type="checkbox" class="simple-checkbox" required x-model="termsChecked" /></div>
          <p class="hint">
            <span>{% blocktranslate %}I have read and agree to Dimagi's <a class="text-brand-indigo font-medium" href="https://dimagi.com/terms-privacy-dimagi/" target="_blank">Privacy Policy</a> and <a class="text-brand-indigo font-medium" href="http://www.dimagi.com/terms/latest/aup/" target="_blank">Acceptable Use Policy</a>.{% endblocktranslate %}</span>
          </p>
        </div>
        <p class="error-msg">{% blocktranslate %}You must accept the terms and conditions{% endblocktranslate %}</p>
      </div>
      <button class="button button-md primary-dark" type="submit" :disabled="!isFormValid()">
        <span class="relative z-20">{% translate "Signup" %}</span>
      </button>
    </div>
  </form>

  <span class="text-sm text-center text-gray-600">or</span>

  <div class="space-y-2 place-items-center">
    <form method="post" action="{% provider_login_url "commcarehq" process="login" %}">
      <button class="flex gap-2 rounded-full bg-gray-100 items-center p-2 pr-4 cursor-pointer" type="submit">
          {% csrf_token %}
          <div class="w-6 h-6"><img src="{% static 'images/commcare-logo-color.svg' %}" alt="Compact Logo" class="w-full"></div>
      <span class="text-sm">{% blocktranslate %}Sign up with CommCareHQ{% endblocktranslate %}</span>
      </button>
    </form>
  </div>

  <div class="pt-4 mt-auto text-sm text-center text-gray-600 border-t-2 border-t-gray-200">
    {% blocktranslate %}Already have an account?{% endblocktranslate %}
    <a href="{{ login_url }}" class="font-medium text-brand-indigo">{% translate "Login" %}</a>
  </div>
</div>
{% endblock %}
