{% extends "account/base.tailwind.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
  <div class="w-full min-h-[620px] h-fit">
    <h1 class="title text-brand-deep-purple mb-4">{% translate "Verify Your E-mail Address" %}</h1>

    {% url 'account_email' as email_url %}

    <p class="text-sm">{% blocktranslate %}This part of the site requires us to verify that
    you are who you claim to be. For this purpose, we require that you
    verify ownership of your e-mail address. {% endblocktranslate %}</p>

    <p class="text-sm">{% blocktranslate %}We have sent an e-mail to you for
    verification. Please click on the link inside this e-mail. Please
    contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>

    <p class="text-sm mt-2">{% blocktranslate %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktranslate %}</p>
  </div>
{% endblock %}
